.header-mobile {
    display: none;
    transform: translateY(-110%);

    &__close-btn {
        width: 46px;
        height: 46px;
        padding: 0;
        border: 0;

        position: absolute;
        top: -1.6rem;
        left: 20rem;
        background-color: transparent;

        @media(max-width: $tablet_sm_width) {
            top: -2.1rem;
            left: initial;
            right: -1.5rem;
        }

        svg {
            fill: $color_blue;
        }
    }

    &.js-opened {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;

        background: #F6F9FC;
        box-shadow: 18px 0px 68px 6px rgba(0, 0, 0, 0.3);
        z-index: 1000;

        animation: showMenuFromTop 0.5s forwards;

        @media(max-width: $tablet_sm_width) {
            height: 100%;
        }
    }

    @keyframes showMenuFromTop {
        0% {
            transform: translateY(-110%);
        }

        100% {
            transform: translateY(0);
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 1920px;
        padding: 0.5rem 1.6rem 0.5rem 4rem;
        margin: 0 auto;

        @media(max-width: $tablet_sm_width) {
            flex-direction: column;
            align-items: flex-start;
            height: 100%;

            padding: 3.2rem 1.6rem 10rem;
        }
    }

    &__nav{
        display: flex;
        flex-direction: column;
        margin-right: auto;

        max-width: 61rem;
        position: relative;

        @media(max-width: $tablet_width) {
            margin-right: 0;
            width: 100%;
            max-width: 100%;
        }

        &-logo {
            margin-bottom: 4.6rem;
            width: fit-content;

            @media(max-width: $tablet_lg_width) {
                margin-bottom: 1.5rem;
            }

            @media(max-width: $tablet_sm_width) {
                margin-bottom: 3rem;
            }
        }
    
        &-list {
            display: flex;
            flex-wrap: wrap;
            max-width: 61rem;

            @media(max-width: $tablet_sm_width) {
                flex-direction: column;
            }
        }
    
        &-item {
            margin-right: 3.2rem;
            width: fit-content;

            @media(max-width: $tablet_lg_width) {
                margin-right: 1.2rem;
            }
    
            a {    
                display: block;
                padding: 0.5rem;
                
                span {
                    font-family: $font_sec-bold;
                    font-size: 2rem;
                    line-height: 2.3rem;
    
                    color: $color_darkblue;
                }
            }
    
            &--stock {
                display: flex;
                align-items: center;
    
                a {
                    img {
                        margin-right: 0.9rem;
                    }
    
                    span {
                        color: #FF693B;
                    }
                }
            }
        }
    }

    &__banner {
        position: relative;

        @media(max-width: $tablet_sm_width) {
            margin-top: auto;
        }

        img {
            border-radius: 1.2rem;

            @media(max-width: 1600px) {
                width: 33rem;
                height: 20.1rem;
            }

            @media(max-width: $tablet_lg_width) {
                width: 24rem;
                height: 15rem;
                object-fit: cover;
            }

            @media(max-width: $tablet_sm_width) {
                width: 100%;
                height: 100%;
                max-height: 206px;
            }
        }

        a{
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 1.2rem;
        }

        span {
            position: absolute;

            bottom: 4.8rem;
            left: 50%;
            transform: translateX(-50%);

            border: 1px solid #1D1D1F;
            border-radius: 1.8rem;

            font-family: $font_sec-reg;
            font-size: 1.4rem;
            line-height: 1.6rem;
            padding: 0.5rem 1rem;

            display: flex;
            align-items: center;

            color: #1D1D1F;

            transition: color $transition-rules, border $transition-rules;

            @media(max-width: $tablet_lg_width) {
                bottom: 1.8rem;
            }
        }

        &:hover,
        &:focus {
            span {
                border: 1px solid $color_blue;
                color: $color_blue;
            }
        }
    }
}