.main-footer {
    position: relative;
    background-color: $color_white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;

    &__wrapper {
        @include block_container();
        
        padding: 0;
        padding-top: 7.2rem;
        padding-bottom: 4.2rem;

        display: flex;
        align-items: center;
        
        @media(max-width: $tablet_width) {
            flex-direction: column;
        }

        @media(max-width: $tablet_xs_width) {
            margin: 0;
            padding: 0;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-right: auto;

        @media(max-width: $tablet_width) {
            flex-direction: row;
        }

        @media(max-width: $tablet_xs_width) {
            padding: 1.6em;
            padding-top: 2.4em;
            flex-direction: column;
            margin-bottom: 1.6rem;
        }

        @media(max-width: 374px) {
           // padding: 1rem;
        } 

        &-logo {
            margin-bottom: 3rem;
        }

        &-container {
            display: flex;
            justify-content: space-between;
            max-width: 33.5rem;
            margin-bottom: 2.8rem;
            @media(max-width: 374px) {
                max-width: 30rem;
            }            
        }

        &-section {
            display: flex;
            flex-direction: column;

            @media(max-width: $tablet_width) {
               margin-right: 1.7rem;
            }

            @media(max-width: 374px) {
                margin-right: 0.5rem;

                .main-footer__banner {
                    width: 100px;
                    height: 90px;
                }
            } 

            a {
                font-family: $font_sec-bold;
                font-size: 2.5rem;
                line-height: 2.9rem;
                display: flex;
                align-items: center;

                color: $color_darkblue;

                @media(max-width: 374px) {
                    font-size: 2rem;
                } 
            }
        }

        &-law {
            p {
                font-family: $font_sec-reg;
                font-size: 1.3rem;
                line-height: 2.1rem;

                color: $color_lightblack;

                @media(max-width: 1600px) {
                    max-width: 40rem;
                }

                @media(max-width: $tablet_width) {
                    max-width: 34rem;
                 }
            }
        }
    }

    &__describe {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: end;
        max-width: 90rem;
        min-height: 20rem;
        background-color: #f9f6fc;
        border-radius: 12px;
        padding: 2.5rem 2.8rem 1.2rem;
        background-repeat: no-repeat;
        background-size: 337px 180px;
        background-position: right bottom;

        @media(max-width: $desktop_sm_width) {
            padding: 2rem;
            background-size: 219px 117px;
            background-position: right top;
        }

        @media(max-width: $tablet_width) {
            width: 100%;
            max-width: 100%;
            padding-left: 2.8rem;
            background-size: 337px 180px;
            background-position: right bottom;
        }

        @media(max-width: $tablet_xs_width) {
            min-height: 38.6rem;
            justify-content: start;
            background-position: left bottom;
        }       

        h3 {
            line-height: 1;
            margin-bottom: .5rem;

            span {
                font-size: 1.8rem;
                line-height: 2.5rem;
            }
        }

        p {
            font-family: $font_sec-reg;
            font-size: 1.4rem;
            line-height: 2.2rem;
            margin-bottom: 1rem;

            color: $color_darkblue;

            @media(max-width: $desktop_sm_width) {
                max-width: 35rem;
            }

            @media(max-width: $tablet_lg_width) {
                max-width: 26rem;
            }
        }

        form {
            @media(max-width: $desktop_sm_width) {
                display: flex;
            }
            
            @media(max-width: $tablet_width) {
                width: 50%;
                max-width: 40rem;
            }

            @media(max-width: $tablet_xs_width) {
                width: 100%;
                max-width: 100%;
            } 

            input {
                border: 1px solid #1C468A;
                box-sizing: border-box;
                border-radius: 6px;
                padding: 1.5rem 2rem;
                height: 4.6rem;
                width: 55%;
                max-width: 28.5rem;
                margin-right: 1rem;
                font-family: $font_sec-reg;
                font-size: 1.6rem;
                line-height: 1.6rem;
                
                color: #1C468A;

                &::placeholder {
                    font-family: $font_sec-reg;
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                    
                    color: #1C468A;
                }

                @media(max-width: $desktop_sm_width) {
                    max-width: initial;
                }
            }

            button {
                @include blue-hover();
                width: calc(45% - 1rem);
                max-width: 23rem;
                height: 4.6rem;
                border: 0;
                padding: 1.5rem;
                background: $color_blue;
                border-radius: 6px;

                font-family: $font_sec-reg;
                font-size: 1.6rem;
                line-height: 1.6rem;

                color: $color_white;

                @media(max-width: $desktop_sm_width) {
                    max-width: initial;
                }
            }
        }
    }
}