.offer-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0 5rem;
    margin: 0 auto;

    .swiper-slide {
        width: 23rem;
        margin-right: 1.5rem;

        @media(max-width: 440px) {
            width: 26rem;

            img {
                width: 26rem;
            }
        }
    }

    .slider-content {
        img {
            width: 100%;
            margin-bottom: 1.2rem;
            height: 100%;
            object-fit: contain;
            max-width: 30rem;
            height: 23rem;
            width: 100%;
            object-position: bottom;
        }

        p {
            font-family: $font_sec-bold;
            font-size: 1.4rem;
            line-height: 1.6rem;
            max-width: 26rem;

            color: $color_darkblue;
        }
    }

    .offer-swiper-button-prev,
    .offer-swiper-button-next {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        
        z-index: 100;
        background-color: $color_white;

        @media(max-width: $tablet_xs_width) {
            display: none;
        }

        &.swiper-button-disabled {
            .btn {
                opacity: .5;
            }
        }

        .btn {
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translate(-50%, -50%);
            content: '';
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-image: url("../assets/img/main-slider-arr.svg");
            background-size: 6px 12px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $color_white;
            border: 1px solid $color_blue;
            z-index: 100;
            cursor: pointer;
        }
    }

    .offer-swiper-button-next {
        left: calc(100% - 50px);
        
        .btn {
            left: -6px;
            transform: rotate(-180deg) translate(-50%, 50%);
        }
    }
}