include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

html(lang="ru")
  +head(title, desc, keywords)

  body

    div(style="display:none")
      include ../../assets/img/svg-sprite.svg 

    include ../common/header
    include ../common/header-mobile

    main
      block content

    include ../common/catalog-footer
    include ../common/main-footer
    
    block modals

    block scripts
      script(src="./js/bundle.js")
