extends layouts/catalog-layout.pug

block variables
  -
    const title = "Wish master интернет магазин"
    const desc = "Продажа электроники"
    const keywords = ""

block content
  include ./blocks/catalog-page/catalog-main

  // include ../blocks/catalog-page/footer
block modals
  // include ./modals/menuModal