extends layouts/catalog-layout.pug

block variables
  -
    const title = "Wish master интернет магазин"
    const desc = "Продажа электроники"
    const keywords = ""

block content
  .index
    include ./blocks/index-page/intro
    include ./blocks/index-page/advantages
    include ./blocks/index-page/categories
    include ./blocks/index-page/hits-slider-block
    include ./blocks/index-page/new-slider-block
    include ./blocks/index-page/stock
    include ./blocks/index-page/map
    include ./blocks/index-page/news
    include ./blocks/index-page/about
block modals
    // include ./modals/info-modal