extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  
  // include ./blocks/index/intro

block modals
  // include ./modals/menuModal