extends layouts/main-layout.pug

block variables
  -
    const title = "Wish master интернет-магазин"
    const desc = "Продажа электроники"
    const keywords = ""

block content
    include ./blocks/sales-page/sales
block modals
