section.about
  .cmn__wrapper
    .about__wrapper
      img(src="./assets/img/index-about.png" alt="О нас" width="635" height="635").about__img
      .about__content
        .about__title-box
          h2.visually-hidden Wishmaster - интернет-магазин
          img(src="./assets/img/logo-icon.svg" alt="Logo" width="20" height="49")
          img(src="./assets/img/logo-name.png" alt="Wishmaster" width="176" height="14")
    
        .about__desc-box
          p Магазин Wishmaster осуществляет продажу исключительно новой оригинальной техники по самым низким ценам и предоставляет надежную гарантию на каждое устройство, предоставляя возможность проверить любой товар ДО ОПЛАТЫ.
          p Мы всегда находимся на связи с нашими покупателями. Приобретая технику в нашем интернет-магазине, Вы можете быть уверены не только в высоком качестве продукции и надёжной гарантии, но и в квалифицированной поддержке наших сотрудников в любое удобное для Вас время. Мы готовы ответить на все Ваши вопросы касательно покупки, использования, обслуживания на любом этапе эксплуатации товара.

          a(href="#") Подробнее 