section.adv
  .cmn__wrapper
    .adv__wrapper
      h2.visually-hidden Преимущества
      ul.adv__list
        li.adv__item
          img(src="./assets/img/index-adv1.svg" alt="2 года гарантии" width="145" height="86")
          p.cmn__text 2 года расширенного гарантийного обслуживания на все смартфоны
        li.adv__item
          img(src="./assets/img/index-adv2.svg" alt="Бесплатный самовывоз" width="166" height="85")
          p.cmn__text Бесплатный самовывоз при заказе день в день
        li.adv__item
          img(src="./assets/img/index-adv3.svg" alt="Проверка устройства ДО ОПЛАТЫ" width="191" height="85")
          p.cmn__text Проверка устройства ДО ОПЛАТЫ
