section.adv
  .cmn__wrapper
    .adv__wrapper
      h2.visually-hidden Преимущества
      ul.adv__list
        li.adv__item
          img(src="./assets/img/index-adv1.svg" alt="2 года гарантии" width="180" height="106")
          p.cmn__text 2 года расширенного гарантийного обслуживания на все смартфоны
        li.adv__item
          img(src="./assets/img/index-adv2.svg" alt="Бесплатный самовывоз" width="207" height="106")
          p.cmn__text Бесплатный самовывоз при заказе день в день
        li.adv__item
          img(src="./assets/img/index-adv3.svg" alt="Проверка устройства ДО ОПЛАТЫ" width="242" height="106")
          p.cmn__text Проверка устройства ДО ОПЛАТЫ
        li.adv__item
          img(src="./assets/img/adv_6.svg" alt="Проверка устройства ДО ОПЛАТЫ" width="242" height="106")
          p.cmn__text Официальные партнеры брендов Karcher, Lenovo
        li.adv__item
          img(src="./assets/img/adv_7.svg" alt="Проверка устройства ДО ОПЛАТЫ" width="242" height="106")
          p.cmn__text Сотрудничество с Яндекс Маркет, Ozon, Wildberries, Сбермаркет
