section.categories
  .cmn__wrapper
    .categories__wrapper
      .categories__header
        h2.cmn__title Каталог
        a(href="#").cmn__outlined-link.cmn__btn Перейти в каталог
      ul.categories__list
        li
          a(href="#") 
            img(src="./assets/img/index-catn1.png" alt="Смартфоны Apple" width="500" height="240")
        li
          a(href="#") 
            img(src="./assets/img/index-catn2.png" alt="Смартфоны Samsung" width="240" height="240")
        li
          a(href="#") 
            img(src="./assets/img/index-catn3.png" alt="Ноутбуки Apple" width="240" height="240")
        li
          a(href="#") 
            img(src="./assets/img/index-catn4.png" alt="Шлем виртуальной реальности Oculus Quest" width="240" height="240")
        li
          a(href="#") 
            img(src="./assets/img/index-catn5.png" alt="Экшн-камера GoPro HERO10 Black" width="240" height="240")
        li
          a(href="#") 
            img(src="./assets/img/index-catn6.png" alt="Беспроводные наушники Apple AirPods Pro" width="240" height="240")
        li
          a(href="#") 
            img(src="./assets/img/index-catn7.png" alt="Планшеты Apple" width="240" height="240")
        li
          a(href="#") 
            img(src="./assets/img/index-catn6.png" alt="Стайлер Dyson Airwrap Complete" width="240" height="240")
        li
          a(href="#") 
            img(src="./assets/img/index-catn7.png" alt="Смартфон Google Pixel 6" width="240" height="240")

