section.categories
  .cmn__wrapper
    .categories__wrapper
      .categories__header
        h2.cmn__title Каталог
        a(href="#").cmn__outlined-link.cmn__btn Перейти в каталог
      ul.categories__list
        li
          a(href="#") 
            img(src="./assets/img/index-cat1.png" alt="Кат-я 1")
        li
          a(href="#") 
            img(src="./assets/img/index-cat2.png" alt="Кат-я 1")
        li
          a(href="#") 
            img(src="./assets/img/index-cat3.png" alt="Кат-я 1")
        li
          a(href="#") 
            img(src="./assets/img/index-cat4.png" alt="Кат-я 1")
        li
          a(href="#") 
            img(src="./assets/img/index-cat5.png" alt="Кат-я 1")
        li
          a(href="#") 
            img(src="./assets/img/index-cat6.png" alt="Кат-я 1")
        li
          a(href="#") 
            img(src="./assets/img/index-cat7.png" alt="Кат-я 1")

