include ../../mixins/slider

-
  const hits = [
    {
        isDiscount: false,
        discountValue: '-10%',
        isAvailable: true,
        name: 'Xiaomi Mi 10T 8 128Gb RU Black',
        price: 'Цена 25 990 ₽',
        isSale: true,
        oldPrice: '26790 ₽',
        prof: '-&nbsp;800',
        

        imgList: [
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
        ]
    },

    {
        isDiscount: false,
        discountValue: '-10%',
        isAvailable: true,
        name: 'Xiaomi Mi 10T 8 128Gb RU Black',
        price: 'Цена 25 990 ₽',
        isSale: true,
        oldPrice: '26790 ₽',
        prof: '-&nbsp;800',
        

        imgList: [
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
        ]
    },

    {
        isDiscount: false,
        discountValue: '-10%',
        isAvailable: true,
        name: 'Xiaomi Mi 10T 8 128Gb RU Black',
        price: 'Цена 25 990 ₽',
        isSale: true,
        oldPrice: '26790 ₽',
        prof: '-&nbsp;800',
        

        imgList: [
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
        ]
    },  

    {
        isDiscount: true,
        discountValue: '-10%',
        isAvailable: true,
        name: 'Xiaomi Mi 10T 8 128Gb RU Black Xiaomi Mi 10T 8 128Gb RU Black',
        price: 'Цена 25 990 ₽',
        isSale: false,
        oldPrice: '26790 ₽',
        prof: '-&nbsp;800',

        imgList: [
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
        ]
    },
        {
        isDiscount: false,
        discountValue: '-10%',
        isAvailable: true,
        name: 'Xiaomi Mi 10T 8 128Gb RU Black',
        price: 'Цена 25 990 ₽',
        isSale: true,
        oldPrice: '26790 ₽',
        prof: '-&nbsp;800',
        

        imgList: [
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
        ]
    },

    {
        isDiscount: false,
        discountValue: '-10%',
        isAvailable: true,
        name: 'Xiaomi Mi 10T 8 128Gb RU Black',
        price: 'Цена 25 990 ₽',
        isSale: true,
        oldPrice: '26790 ₽',
        prof: '-&nbsp;800',
        

        imgList: [
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
        ]
    },

    {
        isDiscount: false,
        discountValue: '-10%',
        isAvailable: true,
        name: 'Xiaomi Mi 10T 8 128Gb RU Black',
        price: 'Цена 25 990 ₽',
        isSale: true,
        oldPrice: '26790 ₽',
        prof: '-&nbsp;800',
        

        imgList: [
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
        ]
    },  

    {
        isDiscount: true,
        discountValue: '-10%',
        isAvailable: true,
        name: 'Xiaomi Mi 10T 8 128Gb RU Black Xiaomi Mi 10T 8 128Gb RU Black',
        price: 'Цена 25 990 ₽',
        isSale: false,
        oldPrice: '26790 ₽',
        prof: '-&nbsp;800',

        imgList: [
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img.png',
            },
            {
            name: 'наушники IPhone',
            url: './assets/img/result-card_img-2.png',
            },
        ]
    },
  ]

section.hits
  .cmn__wrapper
    .hits__wrapper
      .hits__slider
        h2.cmn__subtitle Самые популярные смартфоны
        +slider(hits)(class="main-swiper")