section.intro
  h1.visually-hidden Wishmaster - интернет магазин электроники
  .intro__wrapper
    .intro-swiper-container.intro-slider
      .swiper-wrapper
        .swiper-slide
          a(href="#") 
            picture
              source(media="(max-width: 768px)" srcset="./assets/img/banner_3-mobile.png" type="image/png")    
              source(media="(max-width: 1140px)" srcset="./assets/img/banner_3-lg.png" type="image/png")    
              img(src="./assets/img/banner_3.png" alt="баннер" width="1900" height="400")
        
        .swiper-slide
          a(href="#") 
            picture
              source(media="(max-width: 768px)" srcset="./assets/img/banner_4-mobile.png" type="image/png")    
              source(media="(max-width: 1140px)" srcset="./assets/img/banner_4-lg.png" type="image/png")    
              img(src="./assets/img/banner_4.png" alt="баннер" width="1900" height="400")

      <div class="intro-swiper-pagination"></div> 