include ../../mixins/safety-slider
-
  const safetyList = [
      {
        title: 'Смартфон <br/>Samsung&nbsp;Galaxy&nbsp;A52',
        desc: ['Съемка видео в&nbsp;4К', 'Мощный , Энергосберегающий процессор Qualcomm Snapdragon&nbsp;720G'],
        img: './assets/img/a52.png'
      },
      {
        title: 'Ноутбук&nbsp;Apple MacBook&nbsp;Air&nbsp;2022',
        desc: ['Абсолютно новый процессор Apple&nbsp;M2', 'Невероятная четкость экрана Liquid Retina с разрешением  2560x1664'],
        img: './assets/img/air22.png'
      },
      {
        title: 'Смартфон <br/> Google&nbsp;Pixel&nbsp;6',
        desc: ['Собственный процессор от&nbsp;Google "Google&nbsp;Tensor"', 'Новая мощная камера&nbsp;50&nbsp;МП&nbsp;F/1.85,  12&nbsp;МП&nbsp;F/2.20'],
        img: './assets/img/pixel6.png'
      },
      {
        title: 'Смартфон <br/>OnePlus&nbsp;Ace',
        desc: ['Быстрая Зарядка мощностью 150W способная зарядить телефон  с&nbsp;0&nbsp;до&nbsp;100%&nbsp;за&nbsp;17&nbsp;минут', 'Новый мощный процессор от&nbsp;MediaTek "MediaTek&nbsp;Dimensity&nbsp;8100&nbsp;Max"'],
        img: './assets/img/ace.png'
      },
  ]

section.intro
  .cmn__wrapper
    .intro__wrapper
      .intro-swiper-container.intro-slider
        .swiper-wrapper
          .swiper-slide
            a(href="#") 
              picture
                // 768*480
                source(media="(max-width: 767px)" srcset="./assets/img/banner_3-mobile.png" type="image/png")
                // 1140*400px  
                source(media="(max-width: 1139px)" srcset="./assets/img/banner_3-lg.png" type="image/png")
                // 1900*400px
                source(media="(max-width: 1439px)" srcset="./assets/img/banner_3.png" type="image/png")
                // 1024px*300px    
                img(src="./assets/img/banner_3-xl.png" alt="баннер" width="1024" height="300")
          
          .swiper-slide
            a(href="#") 
              picture
                source(media="(max-width: 767px)" srcset="./assets/img/banner_4-mobile.png" type="image/png")    
                source(media="(max-width: 1139px)" srcset="./assets/img/banner_4-lg.png" type="image/png") 
                source(media="(max-width: 1439px)" srcset="./assets/img/banner_4.png" type="image/png")     
                img(src="./assets/img/banner_4-xl.png" alt="баннер" width="1024" height="300")

        <div class="intro-swiper-pagination"></div>
      
      .intro__banner
        +safety-slider(safetyList)(class="intro-banner-thin-swiper") 