include ../../mixins/banner-wide-slider
include ../../mixins/banner-thin-slider

-
  const bWideList = [
      {
          bg: './assets/img/catalog-banner.png',
          logoImg: './assets/img/iphone-logo.png',
          title: 'Iphone 12',
          desc: 'Пять свежих цветов.',
          linkText: 'Купить'
      },

      {
          bg: './assets/img/catalog-banner.png',
          logoImg: './assets/img/iphone-logo.png',
          title: 'Iphone 12',
          desc: 'Пять свежих цветов.',
          linkText: 'Купить'
      },

      {
          bg: './assets/img/catalog-banner.png',
          logoImg: './assets/img/iphone-logo.png',
          title: 'Iphone 12',
          desc: 'Пять свежих цветов.',
          linkText: 'Купить'
      },

      {
          bg: './assets/img/catalog-banner.png',
          logoImg: './assets/img/iphone-logo.png',
          title: 'Iphone 12',
          desc: 'Пять свежих цветов.',
          linkText: 'Купить'
      },

      {
          bg: './assets/img/catalog-banner.png',
          logoImg: './assets/img/iphone-logo.png',
          title: 'Iphone 12',
          desc: 'Пять свежих цветов.',
          linkText: 'Купить'
      },
      
  ]

-
  const bThinList = [
      {
          title: 'Зона безопасного сервиса',
          desc: ['Измеряем температуру курьеров дважды в день', 'Носим маски и перчатки', 'Используем антисептики'],
      },

      {
          title: 'Зона безопасного сервиса',
          desc: ['Измеряем температуру курьеров дважды в день', 'Носим маски и перчатки', 'Используем антисептики'],
      },

      {
          title: 'Зона безопасного сервиса',
          desc: ['Измеряем температуру курьеров дважды в день', 'Носим маски и перчатки', 'Используем антисептики'],
      },

      {
          title: 'Зона безопасного сервиса',
          desc: ['Измеряем температуру курьеров дважды в день', 'Носим маски и перчатки', 'Используем антисептики'],
      },

      {
          title: 'Зона безопасного сервиса',
          desc: ['Измеряем температуру курьеров дважды в день', 'Носим маски и перчатки', 'Используем антисептики'],
      }
  ]

section.test
  .text__wrapper
    .test-swiper-container.test-slider
      .swiper-wrapper
        .swiper-slide
          picture
            source(media="(max-width: 768px)" srcset="./assets/img/banner_3-mobile.png" type="image/png")    
            source(media="(max-width: 1140px)" srcset="./assets/img/banner_3-lg.png" type="image/png")    
            img(src="./assets/img/banner_3.png" alt="баннер" width="1900" height="400")
        
        .swiper-slide
          picture
            source(media="(max-width: 768px)" srcset="./assets/img/banner_4-mobile.png" type="image/png")    
            source(media="(max-width: 1140px)" srcset="./assets/img/banner_4-lg.png" type="image/png")    
            img(src="./assets/img/banner_4.png" alt="баннер" width="1900" height="400")

      <div class="test-swiper-button-prev"></div>
      <div class="test-swiper-button-next"></div>
      <div class="test-swiper-pagination"></div>

//section.intro
  .cmn__wrapper
    .intro__wrapper
      .intro__wide-slider
        +banner-wide-slider(bWideList)(class="intro-banner-wide-swiper")
      .intro__thin-slider
        +banner-thin-slider(bThinList)(class="intro-banner-thin-swiper")