include ../../mixins/banner-wide-slider
include ../../mixins/banner-thin-slider

-
  const bWideList = [
      {
          bg: './assets/img/catalog-banner.png',
          logoImg: './assets/img/iphone-logo.png',
          title: 'Iphone 12',
          desc: 'Пять свежих цветов.',
          linkText: 'Купить'
      },

      {
          bg: './assets/img/catalog-banner.png',
          logoImg: './assets/img/iphone-logo.png',
          title: 'Iphone 12',
          desc: 'Пять свежих цветов.',
          linkText: 'Купить'
      },

      {
          bg: './assets/img/catalog-banner.png',
          logoImg: './assets/img/iphone-logo.png',
          title: 'Iphone 12',
          desc: 'Пять свежих цветов.',
          linkText: 'Купить'
      },

      {
          bg: './assets/img/catalog-banner.png',
          logoImg: './assets/img/iphone-logo.png',
          title: 'Iphone 12',
          desc: 'Пять свежих цветов.',
          linkText: 'Купить'
      },

      {
          bg: './assets/img/catalog-banner.png',
          logoImg: './assets/img/iphone-logo.png',
          title: 'Iphone 12',
          desc: 'Пять свежих цветов.',
          linkText: 'Купить'
      },
      
  ]

-
  const bThinList = [
      {
          title: 'Зона безопасного сервиса',
          desc: ['Измеряем температуру курьеров дважды в день', 'Носим маски и перчатки', 'Используем антисептики'],
      },

      {
          title: 'Зона безопасного сервиса',
          desc: ['Измеряем температуру курьеров дважды в день', 'Носим маски и перчатки', 'Используем антисептики'],
      },

      {
          title: 'Зона безопасного сервиса',
          desc: ['Измеряем температуру курьеров дважды в день', 'Носим маски и перчатки', 'Используем антисептики'],
      },

      {
          title: 'Зона безопасного сервиса',
          desc: ['Измеряем температуру курьеров дважды в день', 'Носим маски и перчатки', 'Используем антисептики'],
      },

      {
          title: 'Зона безопасного сервиса',
          desc: ['Измеряем температуру курьеров дважды в день', 'Носим маски и перчатки', 'Используем антисептики'],
      }
  ]

section.intro
  .cmn__wrapper
    .intro__wrapper
      .intro__wide-slider
        +banner-wide-slider(bWideList)(class="intro-banner-wide-swiper")
      .intro__thin-slider
        +banner-thin-slider(bThinList)(class="intro-banner-thin-swiper")