section.map
  .cmn__wrapper
    .map__wrapper
      .map__header
        h2.cmn__title Как нас найти
        a(href="#").cmn__outlined-link Открыть на карте

      img(src="./assets/img/index-house.png" alt="Бизнес-центр" width="624" height="424") 