include ../../mixins/offer-slider

-
  const newsList = [
      {
          imgUrl: './assets/img/index-stock1.png',
          imgWidth: '300',
          imgHeight: '300',

          title: 'Новогодняя раздача подарков!',
          link: '#'
      },
      
      {
          imgUrl: './assets/img/logo.png',
          imgWidth: '300',
          imgHeight: '300',

          title: 'Разыгрываем Apple Airpods Max!',
          link: '#'
      },
      
      {
          imgUrl: './assets/img/index-stock3.png',
          imgWidth: '300',
          imgHeight: '300',

          title: 'Дорогие друзья! У нас для вас скидки',
          link: '#'
      },
      
      {
          imgUrl: './assets/img/index-stock4.png',
          imgWidth: '300',
          imgHeight: '300',

          title: 'Ещё одна долгожданная новинка от Apple ждёт вас на нашем сайте',
          link: '#'
      },
      
      {
          imgUrl: './assets/img/index-stock5.png',
          imgWidth: '300',
          imgHeight: '300',

          title: 'Sony анонсировала новую функцию PlayStation 5',
          link: '#'
      },
      
      {
          imgUrl: './assets/img/index-stock3.png',
          imgWidth: '300',
          imgHeight: '300',

          title: 'Разыгрываем Apple Airpods Max! Дорогие друзья!',
          link: '#'
      },
      
      {
          imgUrl: './assets/img/index-stock4.png',
          imgWidth: '300',
          imgHeight: '300',

          title: 'У нас для вас скидки',
          link: '#'
      },
  ]

section.news-section
  .cmn__wrapper
    .news-section__wrapper
      h2.cmn__title Новости
      +offer-slider(newsList)