-
  const addressList = [
      {
          places: 'Красногорск, Котельники, Дзержинский, Власиха, Химки, Мытищи, Одинцово, Трёхгорка, Переделки, Немчиновка, Мамоново, Ромашково, Дубки, Акулово, Коммунарка',
          price: '1500 руб.'
      },

      {
          places: 'Аббакумово, Апаринки, Афанасово, Балашиха, Балластный карьер, Беляниново, Бородино, Вёшки, Видное, Городской округ Долгопрудный, Городской округ Королёв, Городской округ Лобня, Городской округ Реутов, Грибки, Егорово, Ерёмино, Ермолино, Железнодорожный, Жилино-1, Жилино-2, Жостово, Здравница, Капустино, Кирилловка, Красково,Куркино, Люберцы, Малаховка, Марусино, Машково, Мирный, Мотяково, Московский, Нагорное, Нахабино, Николо-Урюпино, Новоалександрово, Новогрязново, Октябрьский, Переделки, Пирогово, Поведники, Отрадное, Путилково, Рождественно, Сгонники, Таболово, Токарево, Томилино, Усково, Хлыстово, Часовня, Подрезково, Клязьма-Старбеево, Челобитьево, Чкалово, Загорянский, Оболдино, Горки-2, Знаменское, Лайково, Малое Сареево, Большое Сареево, Сходня, Лызлово, Барвиха, Калчуга, Подушкино, Рождественно, Ильинское, Усово, Усово-Тупик, Глухово, Шульгино, Дрожжино, Боброво, Щербинка, деревная Барвиха, Жуковка, Раздоры, Поселок дома отдыха Огарево, Опалиха',
          price: '1500 руб.'
      },

      {
          places: 'Быково, Городской округ Жуковский, Щелково, Домодедово, Подольск, Лыткарино, Дятловка, Пуршево, Русавкино-Романово, Соболиха, Федурново, Черное, Монино, Лесные Поляны, Пушкино, Кощейково, Лесной, Троицк, Птичное, Марфино',
          price: '1500 руб.'
      },

      {
          places: 'Ивантеевка, Бронницы, Фрязино, Раменское, Дергаево, Еганово, Жуково, Нижнее Мячиково, Чулково, Кратово, Климовск, Хрипань, Поповка, Зеленоград, Апрелевка',
          price: '1500 руб.'
      },

      {
          places: 'Солнечногорск, Звенигород',
          price: '1500 руб.'
      }
  ]

section.delivery-price
  .cmn__wrapper
    .delivery-price__wrapper
      h2.cmn__subtitle Доставка по москве и области

      ul.delivery-price__list
        each item in addressList
          li.delivery-price__item
            p.delivery-price__places= item.places 
            .delivery-price__conditions
              p При заказе доставки до 11:00 в день заказа
              p Стоимость доставки - 
                span= item.price
      .delivery-price__map
        img(src="./assets/img/delivery-map.png" alt="карта Москвы")

        .delivery-price__search
          h2.cmn__subtitle Доставка по Московской области  
          form
            label.visually-hidden(for="address") Поиск по адресу
            input(id="address" placeholder="Поиск по адресу")
            button(type="submit" aria-label="Поиск по адресу")
              svg(width="20" height="20")
                use(xlink:href="#icon-search-blue")
          ul
            li
              p.cmn__text Стоимость доставки по согласованию с менеджером магазина WishMaster
            li
              p.cmn__text При заказе доставки до 11:00 в день заказа 
              p.cmn__text Стоимость доставки - <span>1500 руб.</span>
            li
              p.cmn__text в день заказа при заказе до 13:00 
              p.cmn__text Стоимость доставки - <span>1000 - 1300 руб.</span>
            li
              p.cmn__text в день заказа при заказе до 14:00 
              p.cmn__text Стоимость доставки - <span>600 - 800 руб.</span>
            li
              p.cmn__text Москва 
              p.cmn__text Стоимость доставки - <span>390 руб.</span>
              
