section.delivery-order
  .cmn__wrapper
    .delivery-order__wrapper
      h2.cmn__subtitle Порядок оформления заказов в другие города:

      .delivery-order__container
        ul.delivery-order__list
          li.delivery__order-item
            p.cmn__text Отправление транспортной компанией "СДЭК" по 100% предоплате.

          li.delivery__order-item
            p.cmn__text Предоплата осуществляется онлайн переводом на любой удобный банк: Сбербанк, Альфабанк, ВТБ банк.

          li.delivery__order-item
            p.cmn__text Стоимость доставки в регионы рассчитывается сотрудником СДЭК при отправлении и оплачивается клиентом при получении.

          li.delivery__order-item
            p.cmn__text Сроки доставки 3-7 календарных дней.
        .delivery-order__adds
          p.cmn__text Стоимость на товары с доставкой в регионы составляет +500 рублей к цене по городу Москва. Отправление заказа — на следующие сутки с даты оплаты. Доставка габаритных товаров (электросамокаты, ТВ) временно не осуществляется.
          a(href="#")
            svg(width="20" height="20")
              use(xlink:href="#icon-vk")
            span перейти к отзывам о доставке