//fonts

$font_prim_reg: 'Roboto-Regular';
$font_prim_med: 'Roboto-Medium';
$font_prim_italic: 'Roboto-Italic';
$font_sec-reg: 'RobotoCondensed-Regular';
$font_sec-bold: 'RobotoCondensed-Bold';
$font_exo-med: 'Exo-Medium';
$font_exo2-med: 'Exo2-Medium';
$font_inter-semi: 'Inter-SemiBold';
$font_inter_reg: 'Inter-Regular';

// animation

$transition_rules: 0.3s 0.1s ease;

// widths

$desktop_lg_width: 1919px;
// $desktop_md_width: 1500px;
$desktop_sm_width: 1365px;
$tablet_lg_width: 1023px;
$tablet_width: 959px;
$mobile_width: 320px;
$min-width: $mobile_width;

// colors

$color_main-bg: #f6f9fc;
$color_white: #ffffff;
$color_black: #000000;
$color_lightblack: #333333;
$color_blue: #175cff;
$color_darkblue: #163560;


// btns

$color_desc-btn-bg-active: #f0f0f0;
$color_desc-btn-active: #121212;
$color_desc-btn: #b5b5b5;

$color_offers-btn-bg-active: #f6f9fc;
$color_offers-btn: #163560;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
