.burger.js-burger
  .burger__wrapper
    .burger__nav
      a(href="index.html").burger__nav-logo
        img(src="./assets/img/logo-name-svg.svg" alt="логотип" width="206" height="49")

      button(aria-label="закрыть меню").burger__close-btn.js-menu-closer
        svg(width="16" height="16")
          use(xlink:href="#icon-close")

      ul.burger__nav-list
        li.burger__nav-item.burger__nav-item--stock
          a(href="#")
            img(src="./assets/img/jet.png" alt="иконка молнии" width="9" height="17")
            span Акции

        li.burger__nav-item
          svg(width="24" height="24")
            use(xlink:href="#icon-blog")
          a(href="#") 
            span Блог

        li.burger__nav-item
          svg(width="24" height="24")
            use(xlink:href="#icon-delivery-car")
          a(href="#") 
            span Доставка и самовывоз
        
        li.burger__nav-item
          svg(width="24" height="24")
            use(xlink:href="#icon-contacts")
          a(href="#")
            span Контакты

        li.burger__nav-item
          svg(width="24" height="24")
            use(xlink:href="#icon-contacts")
          a(href="#") 
            span Гарантия и возврат

        li.burger__nav-item
          a(href="#") 
            span Условия оплаты

        li.burger__nav-item
          a(href="#") 
            span О компании

    //.burger__banner
      a(href="#" aria-label="купить")
        <picture>
          <source srcset="./assets/img/header-mobile-banner_mobile.jpg" media="(max-width: 1600px)">

          img(src="./assets/img/header-mobile-banner.jpg" alt="баннер" width="850" height="206")
        </picture>
        
        span Купить