footer.footer
  include ../common/header-components/cart

  button.nav__menu.footer__menu
    svg(width="16" height="16")
      use(xlink:href="#icon-burger")
    span Меню

  a(href="#").footer__link  
    svg(width="28" height="25")
      use(xlink:href="#icon-heart")
    span Избранное
  a(href="#").footer__link 
    svg(width="25" height="25")
      use(xlink:href="#icon-user")
    span Вход
      

