footer.footer
  include ../common/header-components/cart

  button.footer__menu.js-menu-opener
    svg(width="16" height="16").footer__menu-closed
      use(xlink:href="#icon-burger")
    svg(width="16" height="16").footer__menu-opened
      use(xlink:href="#icon-close")
    span Меню

  a(href="#").footer__link  
    svg(width="28" height="25")
      use(xlink:href="#icon-heart")
    span Избранное
  a(href="#").footer__link 
    svg(width="25" height="25")
      use(xlink:href="#icon-user")
    span Вход
      

