header.header
  .header__wrapper
    .header__top
      .header__nav
        include ../common/header-components/nav

      .header__city-info
        include ../common/header-components/city-info

      .header__user
        include ../common/header-components/user

      .header__cart
        include ../common/header-components/cart

    .header__bottom
      h1 header__bottom