header.header
  .header__wrapper
    
    include ./burger-menu
    .header__top
      .header__nav
        include ../common/header-components/nav 

      .header__city-info
        include ../common/header-components/city-info

      .header__user
        include ../common/header-components/user

      .header__cart
        include ../common/header-components/cart

    .header__bottom
      a(href="#").js-open-catalog-menu
        svg(width="10" height="10")
          use(xlink:href="#icon-catalog-menu")
        span Каталог товаров
      
      form(action="#")
        input(type="text" placeholder="Поиск по сайту" autocomplete="off")
        button(type="submit" aria-label="Поиск").header__search-btn
          svg(width="24" height="24")
            use(xlink:href="#icon-search")
      
      .header__banner
        img(src="./assets/img/delivery-banner.png" alt="доставка" width="141" height="63") 
        p.header__banner-title Доставка в день заказа
        p.header__banner-desc Доставка по Москве осуществляется в день в день при заказе до 17:00»


  include ./header-components/catalog-menu
