.header-mobile
  .header-mobile__wrapper
    .header-mobile__nav
      a(href="index.html").header-mobile__nav-logo
        img(src="./assets/img/logo-name.png" alt="логотип" width="175" height="13")

      button(aria-label="закрыть меню").header-mobile__close-btn.js-menu-closer
        svg(width="16" height="16")
          use(xlink:href="#icon-close")

      ul.header-mobile__nav-list
        li.header-mobile__nav-item.header-mobile__nav-item--stock
          a(href="#")
            img(src="./assets/img/jet.png" alt="иконка молнии" width="9" height="17")
            span Акции

        li.header-mobile__nav-item
          a(href="#") 
            span Новости

        li.header-mobile__nav-item
          a(href="#") 
            span Доставка и самовывоз
        
        li.header-mobile__nav-item
          a(href="#")
            span Контакты

        li.header-mobile__nav-item
          a(href="#") 
            span Гарантия и возврат

        li.header-mobile__nav-item
          a(href="#") 
            span Условия оплаты

        li.header-mobile__nav-item
          a(href="#") 
            span О компании

    .header-mobile__banner
      a(href="#" aria-label="купить")
        <picture>
          <source srcset="./assets/img/header-mobile-banner_mobile.jpg" media="(max-width: 1600px)">

          img(src="./assets/img/header-mobile-banner.jpg" alt="баннер" width="850" height="206")
        </picture>
        
        span Купить