.header-mobile.opened
  .header-mobile__wrapper
    .header-mobile__nav
      a(href="index.html").header-mobile__nav-logo
        img(src="./assets/img/logo-name.png" alt="логотип" width="175" height="13").nav__logo-name

      ul.header-mobile__nav-list
        li.header-mobile__nav-item.header-mobile__nav-item--stock
          a(href="#")
            img(src="./assets/img/jet.png" alt="иконка молнии" width="9" height="17")
            span Акции

        li.header-mobile__nav-item
          a(href="#") 
            span Новости

        li.header-mobile__nav-item
          a(href="#") 
            span Доставка и самовывоз
        
        li.header-mobile__nav-item
          a(href="#")
            span Контакты

        li.header-mobile__nav-item
          a(href="#") 
            span Гарантия и возврат

        li.header-mobile__nav-item
          a(href="#") 
            span Условия оплаты

        li.header-mobile__nav-item
          a(href="#") 
            span О компании

    .header-mobile__banner
      img(src="./assets/img/header-mobile-banner.jpg" alt="баннер")
      a(href="#") Купить