footer.main-footer
  .main-footer__wrapper
    .main-footer__top
      .main-footer__top-section
        img(src="./assets/img/logo-name.png" alt="логотип" width="175" height="13").main-footer__top-logo

        a(href="telto:+74999384565") +7 499 938-45-65
        a(href="telto:+74999384565") +7 499 938-45-65
      .main-footer__top-section
        img.main-footer__banner(src="./assets/img/yandex-banner.png" alt="Оценка яндекса" width="120" height="110")
    .main-footer__nav
      ul.main-footer__nav-list
        li.main-footer__nav-item
          a(href="#")  О компании
        li.main-footer__nav-item
          a(href="#")  Условия оплаты
        li.main-footer__nav-item
          a(href="#")  Условия доставки
        li.main-footer__nav-item
          a(href="#")  Гарантия на товар
        li.main-footer__nav-item
          a(href="#")  Блог
        li.main-footer__nav-item
          a(href="news.html")  Новости
        li.main-footer__nav-item
          a(href="sales.html")  Акции

    .main-footer__bottom
      .main-footer__info
        p Юридическая информация ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «КБ ЭММАЙТИ» ОГРН 1200200036805, ИНН 0245963778 
        p Сайт носит информационный характер и не является публичной офертой, определяемой положениями <br/> Статьи 437(2) Гражданского кодекса РФ.

        a(href="#" target="_blank") Соглашение на обработку персональных данных
      .main-footer__describe(style="background-image: url(./assets/img/footer-img.svg);")
        h3.cmn__subtitle Подпишитесь <br/><span>У нас для вас кое-что есть </span>
        
        p Получайте бонусы на почту через несколько секунд пребывания на сайте.

        form(action="#")
          input(type="text" placeholder="Введите почту:")
          button.main-footer__subscribe-btn(type="submit") Отправить
    //.main-footer__info
      .main-footer__info-container
        .main-footer__info-section
          img(src="./assets/img/logo-name.png" alt="логотип" width="175" height="13").main-footer__info-logo

          a(href="telto:+74999384565") +7 499 938-45-65
          a(href="telto:+74999384565") +7 499 938-45-65
        .main-footer__info-section
          img.main-footer__banner(src="./assets/img/yandex-banner.png" alt="Оценка яндекса" width="120" height="110")
        
      ul.main-footer__nav
        li.main-footer__nav-item
          a(href="#")  О компании
        li.main-footer__nav-item
          a(href="#")  Условия оплаты
        li.main-footer__nav-item
          a(href="#")  Условия доставки
        li.main-footer__nav-item
          a(href="#")  Гарантия на товар
        li.main-footer__nav-item
          a(href="#")  Блог
        li.main-footer__nav-item
          a(href="news.html")  Новости
        li.main-footer__nav-item
          a(href="sales.html")  Акции


      .main-footer__info-law
        p Юридическая информация ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «КБ ЭММАЙТИ» ОГРН 1200200036805, ИНН 0245963778 
        p Сайт носит информационный характер и не является публичной офертой, определяемой положениями <br/> Статьи 437(2) Гражданского кодекса РФ.

        a(href="#" target="_blank") Соглашение на обработку персональных данных

    //.main-footer__describe(style="background-image: url(./assets/img/footer-img.svg);")
      .main-footer__describe-container
        h3.cmn__subtitle Подпишитесь <br/><span>У нас для вас кое-что есть </span>
      
        p Получайте бонусы на почту через несколько секунд пребывания на сайте.

      form(action="#")
        input(type="text" placeholder="Введите почту:")
        button.main-footer__subscribe-btn(type="submit") Отправить  
         