.sort-block
  ul.sort-block-list
    each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
      li.sort-block-item
        select(name="select")
          option(value="value1" selected) Xiaomi
          option(value="value2") Samsung
    li.sort-block-item
       button(type="button") Еще 38
