.range {
    margin-top: 2.6rem;
    position: relative;

    &__pin {
        position: absolute;
        top: 0;
        
        transform: translateY(calc(-50% + 0.2rem));
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        
        background: $color_blue;

        z-index: 100;

        &--left {
            left: 0;
        }

        &--right {
            right: 50%;
        }
    }

    &__track {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #E5E5E5;

        &--active {
            width: 50%;
            background: $color_blue;
        }
    }
}