.range {
    width: calc(100% - 24px);
    height: 4px;
    margin: 0 auto;
    margin-top: 2.6rem;
    border: 0;
    background: #E5E5E5;

    .noUi-connect {
        background-color: $color_blue;
    }

    .noUi-handle {
        width: 24px;
        height: 24px;
        top: -9px;
        right: -12px;
        box-shadow: none;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        
        background-color: $color_blue;

        &::before,
        &::after {
            display: none;
        }
    }
}