.banner
  a(href="#").banner__wrapper
    .banner__header
      h3.banner__header-title Почему у нас дешевле?
      span Подробнее
    p.banner__content Ценовая политика нашего магазина основывается на принципах минимальной стоимости любого из  аппаратов в рамках рынка.