-
  chars = [
    {
      name: 'Артикул:',
      desc: '2766/2763'
    },
    {
      name: 'Операционная система:',
      desc: 'iOS'
    },
    {
      name: 'Водозащита:',
      desc: 'IP68'
    },
    {
      name: 'Количество SIM-карт:',
      desc: '2 (nano SIM+eSIM)'
    },
    {
      name: 'Количество SIM-карт:',
      desc: '2 (nano SIM+eSIM)'
    },

  ];

.chars
  h2.chars__title Краткие характеристики
  ul.chars__list
    each char in chars
      li.chars__item
        p.char__item-name= char.name
        p.char__item-desc= char.desc
  button(type="button").chars__btn Смотреть все характеристики