-
  chars = [
    {
      name: 'Тип уборки:',
      desc: 'сухая'
    },
    {
      name: 'Тип пылесборника:',
      desc: 'контейнер'
    },
    {
      name: 'Объем пылесборника:',
      desc: '0,76л'
    },
    {
      name: 'Доп. функции:',
      desc: 'возможность подключения электрощетки'
    },
    {
      name: 'Тип питания:',
      desc: 'от аккумулятора'
    },

  ];

.chars
  h2.chars__title Краткие характеристики
  ul.chars__list
    each char in chars
      li.chars__item
        .chars__item-name
          p= char.name
          .dashed-border(aria-hidden="true")
        .chars__item-desc
          p= char.desc
  
  button(type="button" data-modal-anchor="chars-modal").modal-opener.chars__btn Смотреть все характеристики

  include ../../modals/chars-modal