.chars
  h2.chars__title Краткие характеристики
  ul.chars__list
    each char in chars
      li.chars__item
        p.char__item-name= char.name
        p.char__item-desc= char.desc
  button(type="button").chars__btn Смотреть все характеристики