- 
  featureList = [
    {
      name: 'Проверка устройства до оплаты',
      svgName: '#icon-check'
    },

    {
      name: 'Доставка в день заказа',
      svgName: '#icon-delivery'
    },

    {
      name: 'Бесплатный самовывоз при заказе день в день',
      svgName: '#icon-free'
    },

    {
      name: '2 года расширенной гарантии',
      svgName: '#icon-garanty'
    },

    {
      name: 'Новое оригинальное запечатанное устройство',
      svgName: '#icon-original'
    },

    {
      name: 'Кэшбек 300р</br>за&nbsp;отзыв',
      svgName: '#icon-cashback',
    },
  ];
  
.features
  ul.features__list
    each feature in featureList
      li.features__item
        a(href="#").features__item-link
          p.features__item-name!= feature.name
          svg(width="40" height="40")
            use(xlink:href= feature.svgName)
          span Подробнее 