.cart
  svg(width="30" height="30").cart-icon.cart-icon--filled
    use(xlink:href="#icon-cart2")
  svg(width="30" height="30").cart-icon
    use(xlink:href="#icon-cart")
  
  .cart__content
    span.cart__items-count 3 товара
    span.cart__items-price 65 000 ₽