-
  const catalog = [
    {
      id:"1", title: 'Смартфоны', link: '#', class: 'active', icon: '#icon-smartphone2',
    },
    {
      id:"2", title: 'Ноутбуки', link: '#', icon: '#icon-notebook2',
    },
    {
      id:"3", title: 'Планшеты', link: '#', icon: '#icon-tablet2',
    },
    {
      id:"4", title: 'Аудио', link: '#', icon: '#icon-phones2',
    },
    {
      id:"5", title: 'Смарт-часы', link: '#', icon: '#icon-smart',
    },
    {
      id:"6", title: 'Бытовая техника', link: '#', icon: '#icon-tech',
    },
    {
      id:"7", title: 'Телевизоры', link: '#', icon: '#icon-tv2',
    },
    {
      id:"8", title: 'Игровые приставки', link: '#', icon: '#icon-game2',
    },
    {
      id:"9", title: 'Самокаты и сегвеи', link: '#', icon: '#icon-segway',
    },
    {
      id:"10", title: 'Для красоты и здоровья', link: '#', icon: '#icon-beauty',
    },
    {
      id:"11", title: 'Квадрокоптеры', link: '#', icon: '#icon-quadro',
    },
    {
      id:"12", title: 'Аксессуары', link: '#', icon: '#icon-accessories2',
    },  
  ]

-
  const inners = [
    {
      id: 1,
      class: 'active',
      productID: 1,
      items: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'},
      ]
    },
    {
      id: 2,
      productID: 2,
      items: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'}
      ]
    },
    {
      id: 3,
      items: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'}
      ]
    },
    {
      id: 4,
      items: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'}
      ]
    },
    {
      id: 5,
      items: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'}
      ]
    },
    {
      id: 6,
      items: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'}
      ]
    },
    {
      id: 7,
      items: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'}
      ]
    },
    {
      id: 8,
      items: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'}
      ]
    },
    {
      id: 9,
      items: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'}
      ]
    },
    {
      id: 10,
      items: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'}
      ]
    },
    {
      id: 11,
      items: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'}
      ]
    },
    {
      id: 12,
      items: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'}
      ]
    }
  ]

.catalog-menu
  .catalog-menu__wrapper
    ul.catalog-menu__list
      each item in catalog
        li.catalog-menu__item(class= item.class ? item.class : null data-id= item.id)
          a(href="#").catalog-menu__link.catalog-menu__link--category
            svg(width="12" height="12").catalog-arrow
              use(xlink:href='#icon-catalog-arrow')

            svg(width="20" height="20").catalog-icon
              use(xlink:href=item.icon)
            span= item.title

    .catalog-menu__inners
      each inner in inners
        ul.catalog-menu__inner(class= inner.class ? inner.class : null data-id= inner.id)
          each item in inner.items
            li.catalog-menu__inner-item
              a(href="#").catalog-menu__link.catalog-menu__link--inner
                svg(width="12" height="12").catalog-arrow
                  use(xlink:href='#icon-catalog-arrow')
                span= item.title
    
    .catalog-menu__products
      ul.catalog-menu__product-list
        li.catalog-menu__product-item
          a(href="") Apple iPhone 13 Pro Max
        li.catalog-menu__product-item
          a(href="") Apple iPhone 13 Pro Max
        li.catalog-menu__product-item
          a(href="") Apple iPhone 13 Pro Max
        li.catalog-menu__product-item
          a(href="") Apple iPhone 13 Pro Max
        li.catalog-menu__product-item
          a(href="") Apple iPhone 13 Pro Max
        li.catalog-menu__product-item
          a(href="") Apple iPhone 13 Pro Max
        li.catalog-menu__product-item
          a(href="") Apple iPhone 13 Pro Max
              