-
  const catalog = [
    {
      title: 'Смартфоны', link: '#', class: 'active', icon: '#icon-smartphone2',
      innerList: [
        {
            title: 'Apple', 
            id: 'apple-phones',
            class: 'active',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {
            title: 'Xiaomi',
            id: 'xiaomi-phones',
            products: [
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
            ]},
        {
            title: 'Realme',
            id: 'realmi-phones',
            products: [
                'Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max',
                'Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max',
                'Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max',
            ]},
        {
            title: 'Sony',
            id: 'sony-phones',
            products: [
                'Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max',
                'Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max',
                'Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max',
            ]},
        {
            title: 'Blackview',
            id: 'blackview-phones',
            products: [
                'Blackview iPhone 13 Pro Max','Blackview iPhone 13 Pro Max','Blackview iPhone 13 Pro Max',
                'Blackview iPhone 13 Pro Max','Blackview iPhone 13 Pro Max','Blackview iPhone 13 Pro Max',
                'Blackview iPhone 13 Pro Max','Blackview iPhone 13 Pro Max','Blackview iPhone 13 Pro Max',
            ]},
        {
            title: 'Honor',
            id: 'honor-phones',
            products: [
                'Honor iPhone 13 Pro Max','Honor iPhone 13 Pro Max','Honor iPhone 13 Pro Max',
                'Honor iPhone 13 Pro Max','Honor iPhone 13 Pro Max','Honor iPhone 13 Pro Max',
                'Honor iPhone 13 Pro Max','Honor iPhone 13 Pro Max','Honor iPhone 13 Pro Max',
            ]},
        {
            title: 'Nokia',
            id: 'nokia-phones',
            products: [
                'Nokia iPhone 13 Pro Max','Nokia iPhone 13 Pro Max','Nokia iPhone 13 Pro Max',
                'Nokia iPhone 13 Pro Max','Nokia iPhone 13 Pro Max','Nokia iPhone 13 Pro Max',
                'Nokia iPhone 13 Pro Max','Nokia iPhone 13 Pro Max','Nokia iPhone 13 Pro Max',
            ]},
        {   
            title: 'Samsung',
            id: 'samsung-phones',
            products: [
                'Samsung iPhone 13 Pro Max','Samsung iPhone 13 Pro Max','Samsung iPhone 13 Pro Max',
                'Samsung iPhone 13 Pro Max','Samsung iPhone 13 Pro Max','Samsung iPhone 13 Pro Max',
                'Samsung iPhone 13 Pro Max','Samsung iPhone 13 Pro Max','Samsung iPhone 13 Pro Max',
            ]},
      ]
    },

    {
      title: 'Ноутбуки', link: '#', icon: '#icon-notebook2',
      innerList: [
        {
            title: 'Apple',
            id: 'apple-notes',
            products: [
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
                'Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max','Apple iPhone 13 Pro Max',
            ]
        },
        {title: 'Xiaomi',
            id: 'xiaomi-notes',
            products: [
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
                'Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max','Xiaomi iPhone 13 Pro Max',
            ]},
        {title: 'Realme',
            id: 'realmi-notes',
            products: [
                'Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max',
                'Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max','Realme iPhone 13 Pro Max',
            ]},
        {title: 'Sony',
            id: 'sony-notes',
            products: [
                'Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max',
                'Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max',
                'Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max','Sony iPhone 13 Pro Max',
            ]},
      ]
    },

    /*{
      title: 'Планшеты', link: '#', icon: '#icon-tablet2',
      innerList: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'},
      ]
    },
    {
      title: 'Аудио', link: '#', icon: '#icon-phones2',
      innerList: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
      ]
    },
    {
      title: 'Смарт-часы', link: '#', icon: '#icon-smart',
      innerList: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
      ]
    },
    {
      title: 'Бытовая техника', link: '#', icon: '#icon-tech',
      innerList: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
      ]
    },
    {
      title: 'Телевизоры', link: '#', icon: '#icon-tv2',
      innerList: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
      ]
    },
    {
      title: 'Игровые приставки', link: '#', icon: '#icon-game2',
      innerList: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'},
      ]
    },
    {
      title: 'Самокаты и сегвеи', link: '#', icon: '#icon-segway',
      innerList: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
      ]
    },
    {
      title: 'Для красоты и здоровья', link: '#', icon: '#icon-beauty',
      innerList: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'},
        {title: 'OnePlus'},{title: 'Google'},
        {title: 'Asus'},{title: 'Doogee'},
        {title: 'Huawei'},{title: 'Vivo'},
      ]
    },
    {
      title: 'Квадрокоптеры', link: '#', icon: '#icon-quadro',
      innerList: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
        {title: 'Nokia'},{title: 'Samsung'},
        {title: 'OnePlus'},{title: 'Google'},
      ]
    },
    {
      title: 'Аксессуары', link: '#', icon: '#icon-accessories2',
      innerList: [
        {title: 'Apple'},{title: 'Xiaomi'},
        {title: 'Realme'},{title: 'Sony'},
        {title: 'Blackview'},{title: 'Honor'},
      ]
    }, */
  ]

.catalog-menu
  .catalog-menu__wrapper
    ul.catalog-menu__list
      each item in catalog
        li.catalog-menu__item( data-id= item.id)
          a(href="#").catalog-menu__link.catalog-menu__link--category
            svg(width="12" height="12").catalog-arrow
              use(xlink:href='#icon-catalog-arrow')

            svg(width="20" height="20").catalog-icon
              use(xlink:href=item.icon)
            span= item.title
          
          ul.catalog-menu__inner-list
            each inner in item.innerList
              li.catalog-menu__inner-item( data-product= inner.id)
                a(href="#").catalog-menu__link.catalog-menu__link--inner
                  svg(width="12" height="12").catalog-arrow
                    use(xlink:href='#icon-catalog-arrow')
                  span= inner.title
    
    .catalog-menu__products
      each item in catalog
        each inner in item.innerList
          ul.catalog-menu__product-list(data-product= inner.id)
            each product in inner.products
              li.catalog-menu__product-item
                a(href="#").catalog-menu__link.catalog-menu__link--product
                  span= product
    
    .catalog-menu__banner
      a(href="#") 
        img(src="./assets/img/cat-banner.png" alt="Баннер" width="400" height="535")
      
      
                