-
  const catList = [
    {id:"1", title: 'Смартфоны', link: '#', class: 'active', icon: '#icon-smartphone2',},
    {id:"2", title: 'Ноутбуки', link: '#', icon: '#icon-notebook2',},
    {id:"3", title: 'Планшеты', link: '#', icon: '#icon-tablet2',},
    {id:"4", title: 'Аудио', link: '#', icon: '#icon-phones2',},
    {id:"5", title: 'Смарт-часы', link: '#', icon: '#icon-smart',},
    {id:"6", title: 'Бытовая техника', link: '#', icon: '#icon-tech',},
    {id:"7", title: 'Телевизоры', link: '#', icon: '#icon-tv2',},
    {id:"8", title: 'Игровые приставки', link: '#', icon: '#icon-game2',},
    {id:"9", title: 'Самокаты и сегвеи', link: '#', icon: '#icon-segway',},
    {id:"10", title: 'Для красоты и здоровья', link: '#', icon: '#icon-beauty',},
    {id:"11", title: 'Квадрокоптеры', link: '#', icon: '#icon-quadro',},
    {id:"12", title: 'Аксессуары', link: '#', icon: '#icon-accessories2',},
  ]

-
  const innerList = [
    {title: 'Apple', link: '#'},
    {title: 'Xiaomi', link: '#'},
    {title: 'Realme', link: '#'},
    {title: 'Sony', link: '#'},
    {title: 'Blackview', link: '#'},
    {title: 'Honor', link: '#'},
    {title: 'Nokia', link: '#'},
    {title: 'Samsung', link: '#'},
    {title: 'OnePlus', link: '#'},
    {title: 'Google', link: '#'},
    {title: 'Asus', link: '#'},
    {title: 'Doogee', link: '#'},
    {title: 'Huawei', link: '#'},
    {title: 'Vivo', link: '#'},
  ]

-
  const productList = [
    {title: 'Apple iPhone 13 Pro Max', link: '#'},
    {title: 'Apple iPhone 13 Pro', link: '#'},
    {title: 'Apple iPhone 13', link: '#'},
    {title: 'Apple iPhone 13 mini', link: '#'},
    {title: 'Apple iPhone 12 Pro Max', link: '#'},
    {title: 'Apple iPhone 12 Pro', link: '#'},
    {title: 'Apple iPhone 12 mini', link: '#'},
    {title: 'Apple iPhone 12', link: '#'},
    {title: 'Apple iPhone XS Max', link: '#'},
    {title: 'Apple iPhone SE 2020', link: '#'},
    {title: 'Apple iPhone SE 2022', link: '#'},
    {title: 'Apple iPhone 11 Pro Max', link: '#'},
    {title: 'Apple iPhone 11 Pro', link: '#'},
    {title: 'Apple iPhone 11', link: '#'},
    {title: 'Apple iPhone 12', link: '#'},
    {title: 'Apple iPhone XS Max', link: '#'},
    {title: 'Apple iPhone SE 2020', link: '#'},
    {title: 'Apple iPhone SE 2022', link: '#'},
    {title: 'Apple iPhone 11 Pro Max', link: '#'},
    {title: 'Apple iPhone 11 Pro', link: '#'},
    {title: 'Apple iPhone 11', link: '#'},
  ]

.catalog-menu
  .catalog-menu__wrapper
    ul.catalog-menu__cats-list
      each cat in catList
        li.catalog-menu__cats-item(class=cat.class ? cat.class : null data-id= cat.id)
          a(href= cat.link).catalog-menu__cats-link.catalog-menu__link
            svg(width="12" height="12").catalog-arrow
              use(xlink:href='#icon-catalog-arrow')

            svg(width="20" height="20")
              use(xlink:href=cat.icon)
            span= cat.title
    
    .catalog-menu__content
      each list in catList
        ul.catalog-menu__inner-list
          each inner in innerList
            li.catalog-menu__inner-item
              a(href= inner.link).catalog-menu__cats-link.catalog-menu__link
                svg(width="12" height="12").catalog-arrow
                  use(xlink:href='#icon-catalog-arrow')
                span= inner.title
              ul.catalog-menu__product-list
                each product in productList
                  li.catalog-menu__product-item
                    a(href= product.link).catalog-menu__link= product.title