.city-info
  .city-info__choose
    span Москва
    a(href="#") Выбрать город
  ul.city-info__phone-list
    li.city-info__phone-item
      a(href="tel:+74999384565") +7 499 938-45-65
    li.city-info__phone-item
      a(href="tel:+74999384565") +7 499 938-45-65

  include ../../modals/city-ask-modal
  include ../../modals/city-chooser-modal