.nav
  a(href="index.html").nav__logo
    img(src="./assets/img/logo-name-svg.svg" alt="логотип" width="206" height="49")

  button.nav__menu.js-menu-opener
    svg(width="10" height="8")
      use(xlink:href="#icon-burger")
    span Меню
    
  ul.nav__list.nav__list--tab-hide
    li.nav__item.nav__item--stock
      a(href="#")
        img(src="./assets/img/jet.png" alt="иконка молнии" width="9" height="17")
        span Акции
    
    li.nav__item
      a(href="blog.html")
        svg(width="24" height="24")
          use(xlink:href="#icon-blog")
        span Блог

    li.nav__item
      a(href="delivery.html")
        svg(width="24" height="24")
          use(xlink:href="#icon-delivery-car")
        span Доставка и самовывоз

    li.nav__item.nav__item--dmd-hide
      a(href="#")
        svg(width="24" height="24")
          use(xlink:href="#icon-contacts")
        span Контакты

    li.nav__item.nav__item--dmd-hide
      a(href="#")
        svg(width="24" height="24")
          use(xlink:href="#icon-quarantee")
        span Гарантия и возврат
    