- 
  const news = {
        title: 'Sony разрешила использовать сторонние SSD-накопители для расширения памяти приставки нового поколения. Об этом сообщается в блоге PlayStation',
        pars: [
            'С 29 июля пользователи PS5 смогут использовать слот M.2 для подключения сторонних накопителей. Это позволит владельцам консолей расширить встроенную память устройства и сохранить большее количество игр и мультимедийного контента. В первую очередь функция будет доступна для участников программы бета-тестирования. Примерные сроки разблокировки данной опции для всех пользователей не раскрываются.',
            'Sony также перечислила требования, которым должны отвечать совместимые накопители. Для PS5 можно использовать NVMe-накопители с интерфейсом PCIe 4.0 и минимальной скоростью чтения 5,5 гигабит в секунду. Ширина модуля ограничивается 22 миллиметрами. Диапазон емкости накопителей составляет от 250 гигабайт до четырех терабайт. При необходимости геймеры могут использовать элементы охлаждения и радиаторы.',
            'Для установки SSD-накопителя инженеры японской компании рекомендуют разместить консоль на твердой горизонтальной и хорошо освещенной поверхности. Затем с помощью крестовой отвертки нужно отсоединить винты и снять заглушку со слота. «Прежде чем приступить к установке или снятию, прикоснитесь к металлическому заземленному предмету, чтобы снять статическое электричество с вашего тела», — отмечают специалисты.'
        ]
      }

.news.cmn
  .cmn__wrapper
    .news__wrapper
      .news__header
        h1.cmn__title Sony анонсировала новую функцию PlayStation 5
        .breadcrumbs
            a(href="#") Главная
            a(href="#") Новости
            a(href="#") Sony анонсировала новую функцию PlayStation 5

      .news__content
        .news__content-img
          img(src="./assets/img/news-1.png" alt="PlayStation-5" width="635" height="635")
        .news__content-article
          h2.cmn__title.news__title=news.title

          each par in news.pars
            p.news__text=par
