.chars-modal {
    max-width: 80rem;
    padding: 2rem;
    .modal__header {
        span {
            font-family: $font_sec-reg;
            font-size: 24px;
            color: #163560;
        }

        margin-bottom: 2rem;
    }

    .chars-modal__close {
        top: 2rem;
        right: 2rem;
        background-color: transparent;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}