.catalog {
    &__wrapper {
        @include block_container();
        background-color: transparent;
        padding: 0;
        padding-top: 2.5rem;

        @media(max-width: $desktop_sm_width) {
            padding: 0;
            padding-top: 3.3rem;
        }

        @media(max-width: $tablet_lg_width) {
            padding: 0;
            padding-top: 4.3rem;
        }

        @media(max-width: $tablet_width) {
            padding: 0;
            padding-top: 2.5rem;
        }
    }
}