.catalog-section {
    flex-direction: column;
    &__wrapper {
        @include block_container();
        background-color: transparent;
        padding: 0;
        padding-top: 2.5rem;

        @media(max-width: $desktop_sm_width) {
            padding: 0;
            padding-top: 3.3rem;
        }

        @media(max-width: $tablet_lg_width) {
            padding: 0;
            padding-top: 4.3rem;
        }

        @media(max-width: $tablet_width) {
            padding: 0;
            padding-top: 2.5rem;
        }

        @media(max-width: 534px) {
            margin: 0 .5rem;
        }
    }

    &__banner {
        margin-bottom: 2.4rem;
        
        picture {
            display: block;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                max-height: 409px;
                object-fit: cover;
                border-radius: 12px;
            }

            .banner-top {
                @media(max-width: 540px) {
                    max-height: 362px;
                }
            }

            .banner-bottom {
                @media(max-width: 540px) {
                    max-height: 541px;
                    object-position: top;
                }
            }
        }
        
    }

    &__slider {
        h2 {
            padding: 0 2.4rem;
        }
        padding: 2.4rem 0;
        background: $color_white;
        border-radius: 12px;
        margin-bottom: 2.5rem;
    }
}