include ../../mixins/slider
-
  const popularItems = [
    {
      isDiscount: false,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: true,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',
      

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: false,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: true,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',
      

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: false,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: true,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',
      

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: false,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: false,
      discountValue: '-10%',
      isAvailable: false,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: true,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },
    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: false,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',


      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },
  ]

-
  const newItems = [
    {
      isDiscount: false,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: true,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',
      

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: false,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: true,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',
      

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: false,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: true,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',
      

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: false,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: false,
      discountValue: '-10%',
      isAvailable: false,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: true,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },
    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: false,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',


      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },
  ]

section.catalog.cmn
  .cmn__wrapper
    .catalog__wrapper
      .catalog__header
        h1.cmn__title Смартфоны
        .breadcrumbs
            a(href="#") Главная
            a(href="#") Каталог
            a(href="#") Смартфоны и телефоны
      
      .catalog__content.catalog-section
        include ./components/catalog-manufactures

        .catalog-section__banner
          picture
            <source srcset="./assets/img/catalog-section-banner1-mobile.png" media="(max-width: 540px)" width="343" height="362">
            img(src="./assets/img/catalog-banner.png" alt="Баннер" width="1620" height="300").banner-top
          
          img(src="./assets/img/iphone-logo.png" alt="Логотип iphone").catalog-section__banner-logo
          span.catalog-section__banner-text Пять свежих цветов.

          button(type="button").catalog-section__banner-btn Купить


        .catalog-section__selection
          include ./components/catalog-selection
        
        .catalog-section__slider
          h2.cmn__subtitle Самые популярные смартфоны 2021
          +slider(popularItems)(class="main-swiper")

        .catalog-section__banner
          a(href="#") 
            picture
              <source srcset="./assets/img/catalog-section-banner2-mobile.png" media="(max-width: 540px)" width="343" height="541">
              img(src="./assets/img/catalog-section-banner2.png" alt="Баннер" width="1620" height="409").banner-bottom

        .catalog-section__slider
          h2.cmn__subtitle Новинки
          +slider(newItems)(class="main-swiper")
