.catalog.cmn
  .cmn__wrapper
    .catalog__wrapper
      .catalog__header
        h1.cmn__title Смартфоны
        .breadcrumbs
            a(href="#") Главная
            a(href="#") Каталог
      
      .catalog__content
        //include ./components/filter
        //include ./components/category-results
        include ./components/catalog_main