-
  chars = [
    {
      name: 'Артикул:',
      desc: '2766/2763'
    },
    {
      name: 'Операционная система:',
      desc: 'iOS'
    },
    {
      name: 'Водозащита:',
      desc: 'IP68'
    },
    {
      name: 'Количество SIM-карт:',
      desc: '2 (nano SIM+eSIM)'
    },
    {
      name: 'Количество SIM-карт:',
      desc: '2 (nano SIM+eSIM)'
    },

  ];

- 
  featureList = [
    {
      name: 'Проверка устройства до оплаты',
      svgPath: './assets/img/check.svg'
    },

    {
      name: 'Доставка в день заказа',
      svgPath: './assets/img/delivery.svg'
    },

    {
      name: 'Бесплатный самовывоз при заказе день в день',
      svgPath: './assets/img/free.svg'
    },

    {
      name: '2 года расширенной гарантии',
      svgPath: './assets/img/garanty.svg'
    },

    {
      name: 'Новое оригинальное </br> запечатанное устройство',
      svgPath: './assets/img/original.svg'
    },

    {
      name: 'Кэшбек 300р</br>за&nbsp;отзыв',
      svgPath: '../assets/img/cashback.svg'
    },
  ];

section.card
  .cmn__wrapper.card__wrapper
    .card__header
      h1 Смартфон Apple iPhone 12 256GB
      .breadcrumbs
        a(href="#") Главная
        a(href="#") Каталог
        a(href="#") Apple
        a(href="#") iPhone
        a(href="#") iPhone 12
        a(href="#") Смартфон Apple iPhone 12 256GB
      .card__header-menu
        a(href="#") Поделиться
          // svg
        a(href="#") Все товары
          //svg
    
    .card__content
      .card__content-wrapper
        .card__slider
          p slider
        .card__desc
          .card__desc-header
            .card__desc-header-wrapper
              .card__chars.chars
                h2.chars__title Краткие характеристики
                ul.chars__list
                  each char in chars
                    li.chars__item
                      p.char__item-name= char.name
                      p.char__item-desc= char.desc
                button(type="button").chars__btn Смотреть все характеристики

              .card__purchase.purchase
                .purchase__header
                  p.purchase__header-price 80 380 ₽
                  button(type="button").purchase__header-btn.purchase__header-btn--put Отложить
                  button(type="button").purchase__header-btn.purchase__header-btn--chart Сравнить

                .purchase__content
                  .purchase__content-info
                    p.purchase__content-info-name Накопитель
                    span.purchase__content-info-desc <span>256</span> ГБ
                  .purchase__content-info
                    p.purchase__content-info-name Цвет
                    ul.purchase__content-info-color.color-list
                      li.color-list__item
                        .color-list__item-inner.color-list__item-inner--white
                          span.visually-hidden белый
                        
                      li.color-list__item.active
                        .color-list__item-inner.color-list__item-inner--green
                          span.visually-hidden зеленый

                      li.color-list__item
                        .color-list__item-inner.color-list__item-inner--red
                          span.visually-hidden красный

                      li.color-list__item
                        .color-list__item-inner.color-list__item-inner--blue
                          span.visually-hidden синий

                      li.color-list__item
                        .color-list__item-inner.color-list__item-inner--black
                          span.visually-hidden черный 

                      li.color-list__item
                        .color-list__item-inner.color-list__item-inner--violet
                          span.visually-hidden фиолетовый
                .purchase__footer
                  button(type="button").cmn__btn.cmn__btn--color-bg Добавить в корзину
                  button(type="button").cmn__btn Быстрый заказ
          .card__desc-footer
            .card__features.features
              ul.features__list
                each feature in featureList
                  li.features__item
                    p.features__item-name!= feature.name
                    img(src=feature.svgPath, alt="иконка")
                    a(href="#").features__item-link Подробнее

            .card__banner.banner
              .banner__header
                .banner__header-title Почему у нас дешевле?
                a(href="#").banner__header-link Подробнее
              p.banner__content Ценовая политика нашего магазина основывается на принципах минимальной стоимости любого из  аппаратов в рамках рынка.