section.cmn.card
  .cmn__wrapper
    .card__wrapper
      .card__header
        h1.cmn__title Смартфон Apple iPhone 12 256GB
        .card__header-menu
          a(href="#").card__header-link.card__header-link--share Поделиться
            svg(width="12" height="10")
              use(xlink:href="#icon-share-arr")
            
          a(href="#").card__header-link.card__header-link--store Все товары
            svg(width="12" height="15")
              use(xlink:href="#icon-apple")
        .breadcrumbs
          a(href="#") Главная
          a(href="#") Каталог
          a(href="#") Apple
          a(href="#") iPhone
          a(href="#") iPhone 12
          a(href="#") Смартфон Apple iPhone 12 256GB
      
      .card__content
        .card__content-wrapper
          include ./components/slider

          .card__desc
            .card__desc-top
              .card__desc-wrapper
                include ./components/chars
                include ./components/purchase  
            .card__desc-bottom
              include ./components/features
              include ./components/banner