-
  const buttons = [
    {text: 'Описание', data_id: 1, class: "active"},
    {text: 'Характеристики', data_id: 2},
    {text: 'Наличие', data_id: 3},
    {text: 'Отзывы', data_id: 4},
    {text: 'Оплата', data_id: 5},
    {text: 'Доставка', data_id: 6},
    {text: 'Дополнительно', data_id: 7},
  ];

-
  const descriptions = [
    { text: 
        [
          {par: 'A14 Bionic, самый быстрый процессор iPhone. Дисплей OLED от края до края. Передняя панель Ceramic Shield, которая в четыре раза снижает риск повреждений дисплея при падении. И Ночной режим на всех камерах. Всё это есть в iPhone 12. В двух размерах.'},
          {par: 'A14 Bionic — самый быстрый процессор iPhone. И позволяет делать невероятное. Система Neural Engine выполняет триллионы операций. Поддерживается съёмка видео в стандарте Dolby Vision — на такое не способны даже профессиональные кинокамеры. Высокая энергоэффективность обеспечивает долгую работу без подзарядки. A14 Bionic уже сегодня готов к решению задач будущего.'},
          {par: 'По беспроводным сетям LTE iPhone 12 способен передавать данные со скоростью до 2 Гбит/с. А значит, можно быстрее скачивать фильмы и сериалы, отправлять фото и смотреть онлайн видео более высокого качества.'},
        ],
      data_id: 1
    },

    { text: 
        [
          {par: 'Дисплей OLED от края до края. Передняя панель Ceramic Shield, которая в четыре раза снижает риск повреждений дисплея при падении. И Ночной режим на всех камерах. Всё это есть в iPhone 12. В двух размерах.'},
          {par: 'И позволяет делать невероятное. Система Neural Engine выполняет триллионы операций. Поддерживается съёмка видео в стандарте Dolby Vision — на такое не способны даже профессиональные кинокамеры. Высокая энергоэффективность обеспечивает долгую работу без подзарядки. A14 Bionic уже сегодня готов к решению задач будущего.'},
          {par: '12 способен передавать данные со скоростью до 2 Гбит/с. А значит, можно быстрее скачивать фильмы и сериалы, отправлять фото и смотреть онлайн видео более высокого качества.'},
        ],
      data_id: 2,
      class: 'hidden'
    },

    { text: 
        [
          {par: 'A1 OLED от края до края. Передняя панель Ceramic Shield, которая в четыре раза снижает риск повреждений дисплея при падении. И Ночной режим на всех камерах. Всё это есть в iPhone 12. В двух размерах.'},
          {par: 'A14 Bionic — сural Engine выполняет триллионы операций. Поддерживается съёмка видео в стандарте Dolby Vision — на такое не способны даже профессиональные кинокамеры. Высокая энергоэффективность обеспечивает долгую работу без подзарядки. A14 Bionic уже сегодня готов к решению задач будущего.'},
          {par: ' значит, можно быстрее скачивать фильмы и сериалы, отправлять фото и смотреть онлайн видео более высокого качества.'},
        ],
      data_id: 3,
      class: 'hidden'
    },

    { text: 
        [
          {par: 'D от края до края. Передняя панель Ceramic Shield, которая в четыре раза снижает риск повреждений дисплея при падении. И Ночной режим на всех камерах. Всё это есть в iPhone 12. В двух размерах.'},
          {par: 'сор iPhone. И позволяет делать невероятное. Система Neural Engine выполняет триллионы операций. Поддерживается съёмка видео в стандарте Dolby Vision — на такое не способны даже профессиональные кинокамеры. Высокая энергоэффективность обеспечивает долгую работу без подзарядки. A14 Bionic уже сегодня готов к решению задач будущего.'},
          {par: 'спроводным скоростью до 2 Гбит/с. А значит, можно быстрее скачивать фильмы и сериалы, отправлять фото и смотреть онлайн видео более высокого качества.'},
        ],
      data_id: 4,
      class: 'hidden'
    },

    { text: 
        [
          {par: 'оцессор iPhone. Дисплей OLED от края до края. Передняя панель Ceramic Shield, которая в четыре раза снижает риск повреждений дисплея при падении. И Ночной режим на всех камерах. Всё это есть в iPhone 12. В двух размерах.'},
          {par: 'A Engine выполняет триллионы операций. Поддерживается съёмка видео в стандарте Dolby Vision — на такое не способны даже профессиональные кинокамеры. Высокая энергоэффективность обеспечивает долгую работу без подзарядки. A14 Bionic уже сегодня готов к решению задач будущего.'},
        ],
      data_id: 5,
      class: 'hidden'
    },

    { text: 
        [
          {par: 'По беспроводным сетям LTE iPhone 12 способен передавать данные со скоростью до 2 Гбит/с. А значит, можно быстрее скачивать фильмы и сериалы, отправлять фото и смотреть онлайн видео более высокого качества.'},
        ],
      data_id: 6,
      class: 'hidden'
    },

    { text: 
        [
          {par: 'A14 Bionic, самый быстрый продо края. Передняя панель Ceramic Shield, которая в четыре раза снижает риск повреждений дисплея при падении. И Ночной режим на всех камерах. Всё это есть в iPhone 12. В двух размерах.'},
          {par: 'По беспроводным сетям LTE iPhone 12 способен передавать данные со скоростью до 2 Гбит/с. А значит, можно быстрее скачивать фильмы и сериалы, отправлять фото и смотреть онлайн видео более высокого качества.'},
        ],
      data_id: 7,
      class: 'hidden'
    },
  ];

section.description
  .cmn__wrapper
    .description__wrapper
      .description__tabs-box
        .description__header.description-swiper-container
          .swiper-wrapper
            each btn in buttons
              .swiper-slide
                button.description__header-btn(data-id=btn.data_id class=btn.class ? btn.class : null)= btn.text

        ul.description__content
          each desc in descriptions
            li.description__content-item(data-id=desc.data_id class=desc.class ? desc.class : null)
              each text in desc.text
                p= text.par

      .description__brand-card

        .description__brand-name
          img(src="assets/img/apple.png" alt="логотип apple" width="16" height="16")
          h2 Apple

        p Актуальная техника, продвинутые модели и современный дизайн — все это сочетают в себе товары от известной компании.

        a(href="#") Все товары категории
        a(href="#") Все товары бренда Apple
          
