include ./components/acc_card

-
  const accessories = [
    {
      className: '.offer__card',
      saleValue: '-10%',
      accName: 'AirPods Pro',
      accGift: '+ адаптер питания',
      newPrice: '16 990 ₽',
      oldPrice: '18 990 ₽',
      imgUrl: './assets/img/headphones.png'
    },

        {
      className: '.offer__card',
      saleValue: '-10%',
      accName: 'AirPods Pro',
      accGift: '+ адаптер питания',
      newPrice: '16 990 ₽',
      oldPrice: '18 990 ₽',
      imgUrl: './assets/img/headphones.png'
    },

    {
      className: '.offer__card',
      saleValue: '-10%',
      accName: 'AirPods Pro',
      accGift: '+ адаптер питания',
      newPrice: '16 990 ₽',
      oldPrice: '18 990 ₽',
      imgUrl: './assets/img/headphones.png'
    },

    {
      className: '.offer__card',
      saleValue: '-10%',
      accName: 'AirPods Pro',
      accGift: '+ адаптер питания',
      newPrice: '16 990 ₽',
      oldPrice: '18 990 ₽',
      imgUrl: './assets/img/headphones.png'
    },

    {
      className: '.offer__card',
      saleValue: '-10%',
      accName: 'AirPods Pro',
      accGift: '+ адаптер питания',
      newPrice: '16 990 ₽',
      oldPrice: '18 990 ₽',
      imgUrl: './assets/img/headphones.png'
    },

    {
      className: '.offer__card',
      saleValue: '-10%',
      accName: 'AirPods Pro',
      accGift: '+ адаптер питания',
      newPrice: '16 990 ₽',
      oldPrice: '18 990 ₽',
      imgUrl: './assets/img/headphones.png'
    },

    {
      className: '.offer__card',
      saleValue: '-10%',
      accName: 'AirPods Pro',
      accGift: '+ адаптер питания',
      newPrice: '16 990 ₽',
      oldPrice: '18 990 ₽',
      imgUrl: './assets/img/headphones.png'
    },

    {
      className: '.offer__card',
      saleValue: '-10%',
      accName: 'AirPods Pro',
      accGift: '+ адаптер питания',
      newPrice: '16 990 ₽',
      oldPrice: '18 990 ₽',
      imgUrl: './assets/img/headphones.png'
    },

    {
      className: '.offer__card',
      saleValue: '-10%',
      accName: 'AirPods Pro',
      accGift: '+ адаптер питания',
      newPrice: '16 990 ₽',
      oldPrice: '18 990 ₽',
      imgUrl: './assets/img/headphones.png'
    },

    {
      className: '.offer__card',
      saleValue: '-10%',
      accName: 'AirPods Pro',
      accGift: '+ адаптер питания',
      newPrice: '16 990 ₽',
      oldPrice: '18 990 ₽',
      imgUrl: './assets/img/headphones.png'
    },

    {
      className: '.offer__card',
      saleValue: '-10%',
      accName: 'AirPods Pro',
      accGift: '+ адаптер питания',
      newPrice: '16 990 ₽',
      oldPrice: '18 990 ₽',
      imgUrl: './assets/img/headphones.png'
    },
  ];
      
section.cmn.offers
  .cmn__wrapper
    .offers__wrapper
      .offers__header
        .offers__tabs
          button(type="button" data-id="1").active Комплекты
          button(type="button" data-id="2") Аксессуары
        h2.offers__title В комплекте выгоднее!
        
      .offers-swiper-container.offer-slider
        .swiper-wrapper
          each acc in accessories
            .swiper-slide
              +acc_card(acc.className, acc.saleValue, acc.accName, acc.accGift, acc.newPrice, acc.oldPrice, acc.imgUrl)

        .swiper-button-prev.offers-swiper-button-prev
          .btn
        .swiper-button-next.offers-swiper-button-next
          .btn
        <div class="swiper-scrollbar"></div>
