.catalog-menu {
    position: absolute;
    height: fit-content;
    min-height: 53.5rem;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(29, 30, 36, 0.07);
    background-color: $color-white;
    z-index: 99;

    overflow: hidden;
    overflow-y: auto;

    &__wrapper {
        display: flex;
        background-color: $color-white;
        max-width: 192rem;
        height: fit-content;
        min-height: 100%;
        padding-left: 22.3rem;
        margin: 0 auto;
        outline: 1px solid red;

        @media(max-width: $desktop_lg_width) {
            padding-left: 12.3rem;
        }
    }

    &__cats-list {
        height: auto;
        outline: 1px solid black;
        width: fit-content;
        min-width: 25rem;
        padding: 1.5rem 0;
        padding-bottom: 5rem;
        background-color: #F6F9FC;

        position: relative;

        position: relative;
        &::before {
            position: absolute;
            top: 0;
            right: 100%;
            content: '';
            width: 100vw;
            height: 100%;
            background-color: #F6F9FC;
        }

        /*&::after {
            position: absolute;
            top: 100%;
            left: 0;
            content: '';
            width: 100%;
            height: 100vh;
            background-color: #F6F9FC;
        }*/
    }

    &__cats-item {
        position: relative;
        display: flex;
        align-items: center;
        //width: 25rem;

        svg {
            fill: $color_blue;
        }

        &.active {
            background-color: $color_lightblue-100;

            position: relative;
            &::before {
                position: absolute;
                top: 0;
                right: 100%;
                content: '';
                width: 100vw;
                height: 100%;
                background-color: $color_lightblue-100;
            }

            //.catalog-menu__product-list,
            .catalog-menu__inner-list {
                display: flex;
            }
        }
    }

    .catalog-arrow {
        position: absolute;
        top: 1.4rem;
        right: 1.5rem;
    }

    a,span {
        font-size: 1.6rem;
        font-family: $font_sec-reg;
        font-weight: 400;
        color: $color_black-300;
    }

    &__cats-link {
        padding-right: 3rem;
        span {
            padding-left: 1rem;
        }
    }

    &__link {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 0;
    }

    &__content {
        display: flex;
    }

    &__inner-list {
        position: relative;
        display: none;
        width: fit-content;
        min-width: 25rem;
        padding-left: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 5rem;
        background-color: $color_lightblue-100;
    }

    &__inner-item {
        //position: relative;
        a {
            position: relative;
            padding-left: 1rem;


        }

        a:hover,
        a:focus,
        & .active {
            background-color: $color-white;

            span {
                color: $color_blue;
            }
            svg {
                fill: $color_blue;
            }

            
        }

        /*&:hover,
        &:focus {
            .catalog-menu__product-list {
                display: block;
                //opacity: 1;

                animation: fadeIn 0.4s 0.2s linear forwards;
            }
        }*/
    }

    /*@keyframes fadeIn {
        15% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }*/

    &__product-list {
        position: absolute;
        top: 1.5rem;
        left: 100%;
        
        display: none;
        //opacity: 0;

        width: fit-content;
        min-width: 25rem;
        max-height: 60rem;

        padding-left: 2rem;
        padding-bottom: 5rem;

        overflow: hidden;
        overflow-y: auto;

    }

    &__product-item {
        a {
            padding-left: 2rem;
        }
        a:hover,
        a:focus {
            color: $color_blue;
            background-color: $color_lightblue-100;
        }
    }
}