.nav {
    display: flex;
    align-items: center;

    &__logo {
        margin-right: 2.3rem;

        @media(max-width: $tablet_width) {
            display: flex;
            align-items: center;

            &-name {
                width: 14.4rem;
                height: 1.1rem;
            }
        }

        @media(max-width: $tablet_sm_width) {
            margin-right: 0;
        }

        &-img {
            position: absolute;
            top: 3.5rem;
            left: 15rem;

            @media(max-width: $desktop_lg_width) {
                left: 5rem;
            }

            @media(max-width: $desktop_sm_width) {
                left: 4rem;
            }

            @media(max-width: $tablet_lg_width) {
                left: 0.6rem;
            }

            @media(max-width: $tablet_width) {
                position: relative;
                top: 0;
                left: 0;
                width: 2.9rem;
                height: 6.9rem;
                margin-right: 0.7rem;
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        padding: 1rem;

        font-family: $font_sec-reg;
        font-size: 1.6rem;
        line-height: 1.9rem;

        display: flex;
        align-items: center;

        color: #97A2AC;

        background-color: transparent;
        border: 1px solid #97A2AC;
        border-radius: 0.8rem;
        margin-right: 2.3rem;

        @media(max-width: $tablet_lg_width) {
            margin-right: 0;
        }

        @media(max-width: $tablet_sm_width) {
            display: none; 
        }

        svg {
            margin-right: 1rem;
            transition: fill $transition-rules;
        }

        transition: border $transition_rules, color $transition-rules;

        &:hover,
        &:focus {
            color: $color_blue;
            border: 1px solid $color_blue;

            svg {
                fill: $color_blue;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;

        @media(max-width: $desktop_lg_width) {
            flex-direction: column;
        }

        @media(max-width: $desktop_sm_width) {
            &--tab-hide {
                display: none;
            }
        }
    }

    &__item {
        margin-right: 3.2rem;
        width: fit-content;

        @media(max-width: $desktop_lg_width) {
            &--dmd-hide {
                display: none;
            }
        }

        a {    
            display: block;
            padding: 0.5rem;
            
            span {
                font-family: $font_sec-bold;
                font-size: 2rem;
                line-height: 2.3rem;

                color: $color_darkblue;
            }
        }

        &--stock {
            display: flex;
            align-items: center;

            a {
                img {
                    margin-right: 0.9rem;
                }

                span {
                    color: #FF693B;
                }
            }
        }
    }
}