.city-ask
  .city-ask__wrapper
    .city-ask__header
      button(type="button" data-id="city-ask").close-button
        svg(width="17" height="17")
            use(xlink:href="#icon-close2")
      span Ваш город <b>Москва?</b>
    .city-ask__footer
      button(type="button" data-id="city-chooser").cmn__outlined-link.cmn__btn.open-button Изменить город
      button(type="button" data-id="city-ask").cmn__btn.cmn__btn--color-bg.close-button Верно