.info-modal.closed
  .info-modal__wrapper
    p «Уважаемые покупатели, 22&nbsp;января&nbsp;магазин не&nbsp;работает. Прием&nbsp;и&nbsp;обработка заказов возобновится 23&nbsp;января&nbsp;с&nbsp;14:00. Самовывоз будет работать с&nbsp;15:00»