mixin banner-thin-slider(array)

  .banner-thin-swiper-container.banner-thin-slider
    .swiper-wrapper
      each slide in array
        .swiper-slide(style="background-image: url('./assets/img/banner-bg.png')")
          .slider-content
            h3= slide.title

            each par in slide.desc
              p=par
    <div class="banner-thin-swiper-pagination"></div>