mixin safety-slider(data)
  .safety-swiper-container.safety-slider
    .swiper-wrapper
      each slide in data
        .swiper-slide(style="background-image: url('./assets/img/safety-slider-bg@1x.png')")
          .slider-content
            h3!= slide.title
            ul
              each item in slide.desc 
                li!= item

            span Купить
            
          img(src=slide.img alt= slide.title width="189" height="207")
    <div class="safety-swiper-pagination"></div> 