mixin safety-slider(array)
  .safety-swiper-container.safety-slider
    .swiper-wrapper
      each slide in array
        .swiper-slide(style="background-image: url('./assets/img/banner-bg.png')")
          .slider-content
            h3= slide.title

            each par in slide.desc
              p=par
    <div class="safety-swiper-pagination"></div>