mixin safety-slider(array)
  .safety-swiper-container.safety-slider
    .swiper-wrapper
      each slide in array
        .swiper-slide(style="background-image: url('./assets/img/banner-bg.png')")
          .slider-content
            img(src=slide.img alt= slide.title width="189" height="207")
            h3= slide.title
    <div class="safety-swiper-pagination"></div>