.card {
    &__wrapper {
        @include block_container();
        background-color: transparent;
        padding: 0;
        padding-top: 2.5rem;

        @media(max-width: $desktop_sm_width) {
            padding: 0;
            padding-top: 3.3rem;
        }

        @media(max-width: $tablet_lg_width) {
            padding: 0;
            padding-top: 4.3rem;
        }

        @media(max-width: $tablet_width) {
            padding: 0;
            padding-top: 2.5rem;
        }
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media(max-width: $tablet_width) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 1.6rem;
        }

        &-menu {
            margin-left: auto;

            @media(max-width: $tablet_width) {
                margin-left: 0;
                display: flex;
            }
        }

        &-link {
            position: relative;
            display: flex;
            align-items: center;
            font-family: $font_inter_reg;
            font-size: 1.2rem;
            line-height: 1.7rem;
            margin-bottom: 0.4rem;

            color: #97A2AC;

            transition: color $transition_rules;

            @media(max-width: $tablet_width) {
                font-size: 1.1rem;
                line-height: 1.1rem;
                margin-right: 1.3rem;
                align-items: flex-end;
            }

            svg {
                margin-left: 0.6rem;
                transition: fill $transition_rules;
            }

            &:hover,
            &:focus {
                color: $color_blue;

                svg {
                    fill: $color_blue;
                }
            }
        }
    }

    &__content {
        &-wrapper {
            display: flex;

            @media(max-width: 1240px) { 
               flex-direction: column; 
            }
        }

        .card__desc {
            flex-grow: 1;

            &-wrapper {
                display: flex;
                width: 100%;

                @media(max-width: 1680px) {
                    flex-direction: column;
                }
            }

            &-top,
            &-bottom {
                background-color: $color-white;
                border-radius: 1.2rem;
            }

            &-top {
                display: flex;
                align-items: center;
                padding: 1.6rem 2rem;
                margin-bottom: 2rem;
                min-height: 33rem;
            }

            &-bottom {
                display: flex;

                @media(max-width: $desktop_sm_width) {
                    flex-direction: column;
                }

                
                @media(max-width: 1240px) {
                    flex-direction: row;
                }

                @media(max-width: 768px) {
                    flex-direction: column;
                }
            }
        }

    }
}