.about {
    &__wrapper {
        @include block_container();
        background-color: transparent;
        padding: 0;
        display: flex;
        align-items: center;

        @media(max-width: $tablet_lg_width) {
            padding: 0;
        }

        @media(max-width: $tablet_width) {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }

    &__img {
        width: 100%;
        max-width: 635px;
        height: 100%;
        object-fit: cover;
        border-radius: 1.2rem;

        @media(max-width: $tablet_width) {
            max-width: 100%;
            max-height: 46.1rem;
            margin-bottom: 3.2rem;
        }
    }

    &__content {
        padding-left: 5rem;
        max-width: 86rem;

        @media(max-width: $tablet_width) {
            padding-left: 0;
            margin-bottom: 1.5rem;
        }
    }

    &__title-box {
        display: flex;
        align-items: center;
        margin-bottom: 1.2rem;
        img {
            margin-right: 1rem;
        }
    }

    &__desc-box {
        p {
            font-size: 1.6rem;
            line-height: 2.6rem;
            margin-bottom: 0.8rem;

            color: $color_black-300;
        }

        a {
            font-family: $font_sec-reg;
            font-size: 1.2rem;
            line-height: 1.2rem;

            text-decoration-line: underline;

            color: $color_darkblue;
        }
    }
}