.adv {
    &__wrapper {
        @include block_container();

        @media(max-width: 640px) {
            flex-direction: column;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-grow: 1;

        @media(max-width: 1440px) {
            flex-wrap: wrap;
        }
        @media(max-width: 640px) {
            order: 2;
            margin-right: 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin: 0 1rem;

        width: calc(100% / 5);

        @media(max-width: 1440px) {
            width: calc(100% / 3);
            max-width: 30rem;
            margin-bottom: 2rem;
        }

        @media(max-width: 1140px) {
            max-width: 25rem;
            margin-bottom: 2rem;
        }

        @media(max-width: $tablet_width) {
            width: 50%;
            max-width: calc(50% - 2rem);
        }

        @media(max-width: 600px) {
            width: 100%;
            max-width: calc(100% - 2rem);
        }

        img {
            object-fit: contain;
            margin-bottom: 1rem;
        }

        p {
            font-family: $font_sec-bold;
            font-size: 1.6rem;
            line-height: 1.9rem;
            text-align: center;
            min-height: 6rem;

            color: $color_darkblue;
        }
    }

    &__wrapper {
        display: flex;
    }
}
