.banner {
    width: 212px;
    height: 233px;
    background-image: url("../assets/img/banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.2rem;
    padding: 4.5rem 1.7rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.8rem;

        &-title {
            font-family: $font_sec-bold;
            font-size: 2rem;
            line-height: 2rem;
            letter-spacing: -0.02em;
            max-width: 11rem;

            color: $color_white;
        }

        &-link {
            font-family: $font_sec-reg;
            font-size: 1.2rem;
            line-height: 1.2rem;
            text-decoration-line: underline;

            color: $color_white;
        }
    }

    &__content {
        max-width: 17.5rem;
        font-size: 1.4rem;
        line-height: 1.6rem;
        letter-spacing: -0.01em;

        color: $color_white;
    }
}