.banner {
    max-width: 215px;
    max-height: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.2rem;
    background-color: #C4C4C4;
    background-image: url("../assets/img/banner-bg.png");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 1.7rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    @media(max-width: $desktop_sm_width) {
        max-width: 100%;
        max-height: 100%;
        padding: 1.6rem;
    }

    @media(max-width: $tablet_width) {
        margin-left: 0;
    }

    &__wrapper {
        @media(max-width: $desktop_sm_width) {
            flex-direction: column;
            width: 100%;
            align-items: initial;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.8rem;

        @media(max-width: $desktop_sm_width) {
            flex-direction: row;
            align-items: center;
        }

        &-title {
            font-family: $font_sec-bold;
            font-size: 2rem;
            line-height: 2rem;
            letter-spacing: -0.02em;
            max-width: 11rem;

            color: $color_white;

            @media(max-width: $desktop_lg_width) {
                max-width: 15rem;
                margin-bottom: 0.6rem;
            }

            @media(max-width: $desktop_sm_width) {
                max-width: 25rem;
                margin-bottom: 0;
                margin-right: 1rem;
            }
        }

        span {
            font-family: $font_sec-reg;
            font-size: 1.2rem;
            line-height: 1.2rem;
            text-decoration-line: underline;
            opacity: 0.75;

            color: $color_white;

            transition: color $transition_rules;
        }
    }

    &__content {
        font-family: $font_prim_reg;
        font-weight: 400;
        max-width: 17.5rem;
        font-size: 1.4rem;
        line-height: 1.6rem;
        letter-spacing: -0.01em;
        opacity: 0.75;
        margin-bottom: 0 !important;

        color: $color_white;

        @media(max-width: $desktop_lg_width) {
            max-width: 32.8rem;
        }

        @media(max-width: $desktop_sm_width) {
            max-width: 100%;
        }
    }
}