.slider {
    width: 100%;
    max-width: 62rem;
    display: flex;
    align-items: center;
    margin-right: 3.4rem;

    @media(max-width: $desktop_lg_width) {
        margin-right: 1.9rem;
    }

    @media(max-width: $desktop_sm_width) {
        max-width: 51rem;
    }

    .card-swiper-container {
        width: 100%;
        height: 58rem;
        overflow: hidden;

        @media(max-width: $desktop_lg_width) {
            height: 49rem;
        }

        @media(max-width: $desktop_sm_width) {
            height: 43.5rem;
        }

        @media(max-width: $tablet_lg_width) {
            height: 41.2rem;
        }
    }

    .card-slider  {
        width: 54rem;
        order: 2;
        border-radius: 10px;

        @media(max-width: $desktop_lg_width) {
            width: 54rem;
        }

        @media(max-width: $desktop_sm_width) {
            width: 43rem;
        }

        @media(max-width: $tablet_lg_width) {
            width: 40.8rem;
        }

        .swiper-slide { 
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .card-slider-thumbs {
        position: relative;
        width: 6.2rem;
        order: 1;
        margin-right: 2rem;
        padding: 5rem 0;

        @media(max-width: $desktop_sm_width) {
            padding: 4rem 0;
        }

        .swiper-slide {
            width: 6rem;
            height: 6rem !important;
            border: 1px solid #D4D4D4;
            border-radius: 10px;
            opacity: 0.3;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }

            &-thumb-active {
                opacity: 1;
            }
        }

        .card-slider-thumbs-swiper-button-next,
        .card-slider-thumbs-swiper-button-prev {
            position: absolute;
            width: 100%;
            height: 25px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }

        .card-slider-thumbs-swiper-button-next {
            bottom: 0;
            width: 100%;
            background-image: url("../assets/img/card-slider-arr-bottom.svg");;
        }

        .card-slider-thumbs-swiper-button-prev {
            top: 0;
            background-image: url("../assets/img/card-slider-arr-top.svg");;
        }
    }
}