.slider {
    position: sticky;
    top: 2rem;
    width: 100%;
    max-width: 61rem;
    height: 48rem;
    display: flex;
    margin-right: 3.4rem;

    @media(max-width: 1240px) {
        position: initial;
        top: 0;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    @media(max-width: 534px) {
        height: 43rem;
        margin-bottom: 2.4rem;
        flex-direction: column;
    }

    .card-swiper-container {
        width: 100%;
        height: 100%;
        overflow: hidden;

        @media(max-width: 534px) {
            height: 34.7rem;
        }
    }

    .card-slider  {
        order: 2;
        border-radius: 10px;

        @media(max-width: 534px) {
            margin-bottom: 1.1rem;
        }
        
        .swiper-slide {
            background-color: white;
            align-items: center;
            justify-content: center;
            display: flex;
            margin-right: 10px;
            border-radius: 12px;

            img {
                width: 90%;
                height: 90%;
                object-fit: contain;
                border-radius: 12px;
            }

            .slider-banner {
                position: absolute;

                top: 0;
                left: 1.7rem;
            }

            .garanty-banner {
                width: 8rem;
                height: 10.3rem;

                @media(max-width: 534px) {
                    width: 5.8rem;
                    height: 7.4rem;
                }
            }

            .new-banner {
                width: 8rem;
                height: 2rem;

                margin-top: 1.2rem;
            }

            .garanty-banner,
            .new-banner {
                &.hidden {
                    display: none;
                }

                &.showed {
                    display: block;
                }
            }
        }
    }

    .card-slider-thumbs {
        position: relative;
        width: 100%;
        max-width: 6.2rem;
        height: 47rem;
        order: 1;
        margin-right: 2rem;
        padding: 5rem 0;

        @media(max-width: $desktop_sm_width) {
            padding: 4rem 0;
            height: 43.5rem;            
        }

        @media(max-width: 534px) {
            width: fit-content;
            max-width: 100%;
            height: 6.6rem;
            order: 2;
            padding: 0 2.4rem;
            margin-right: 0;
            margin: 0 auto;
        }

        .swiper-slide {
            width: 6rem;
            height: 6rem;
            border: 1px solid #D4D4D4;
            border-radius: 10px;
            opacity: 0.3;
            background-color: $color-white;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: contain;
            }

            &-thumb-active {
                opacity: 1;
            }
        }

        .card-slider-thumbs-swiper-button-next {
            bottom: 0;
            width: 100%;
            background-image: url("../assets/img/card-slider-arr-bottom.svg");

            @media(max-width: 534px) {
                right: 0;
                background-image: url("../assets/img/card-slider-arr-right.svg");
            }
        }

        .card-slider-thumbs-swiper-button-prev {
            top: 0;
            background-image: url("../assets/img/card-slider-arr-top.svg");

            @media(max-width: 534px) {
                left: 0;
                background-image: url("../assets/img/card-slider-arr-left.svg");
            }
        }

        .card-slider-thumbs-swiper-button-next,
        .card-slider-thumbs-swiper-button-prev {
           
            position: absolute;
            width: 100%;
            height: 25px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            background-color: #f6f9fc;
            z-index: 100;

            @media(max-width: 534px) {
                width: 2.4rem;
                height: 100%;
                
            }
        }
    }
}