.chars {
    width: 40%;
    &__title {
        font-size: 2.4rem;
        line-height: 3.4rem;
        letter-spacing: -0.01em;

        color: $color_darkblue;
        margin-bottom: 3.4rem;
    }

    &__list {
        margin-bottom: 3.3rem;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 37rem;
        margin-bottom: 2.4rem;

        p {
            display: block;
            width: 50%;
            font-family: $font_prim_reg;
            font-size: 1.4rem;
            line-height: 1.4rem;

            color: $color_black;
        }
    }

    &__btn {
        border: 0;
        padding: 0;
        background-color: transparent;
        font-size: 1.4rem;
        line-height: 1.4rem;

        text-decoration-line: underline;

        color: #121212;
    }
}