.features {
    padding-bottom: 1rem;

    &__list {
        display: flex;
        flex-wrap: wrap;
        max-width: 74rem;
    }

    &__item {
        position: relative;
        min-height: 7.8rem;
        padding-left: 6.8rem;
        width: 22.6rem;
        border: 1px solid #E5E5E5;
        border-radius: 1rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1.9rem;

        @media(max-width: $desktop_lg_width) {
            margin-right: 1.4rem;
        }

        &-name {
            font-family: $font_sec-bold;
            font-size: 1.4rem;
            line-height: 1.4rem;
            margin-bottom: 0.6rem;

            color: $color_blue;
        }

        &-link {
            font-family: $font_sec-reg;
            font-size: 1.2rem;
            line-height: 1.2rem;

            text-decoration-line: underline;

            color: $color_darkblue;
        }

        img {
            width: 4rem;
            height: 4rem;
            position: absolute;
            top: 2.2rem;
            left: 1.4rem;
            object-fit: contain;
        }
    }
}