.features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: calc(100% - 225px);

    @media(max-width: $desktop_sm_width) {
        max-width: 100%;
        margin-bottom: 15px;
    }

    &__list {
        display: flex; 
        flex-wrap: wrap;
        padding: 1.5rem 0 0 0.5rem;

        @media(max-width: $desktop_lg_width) {
            margin-bottom: 0.6rem;
        }

        @media(max-width: $desktop_sm_width) {
            padding-right: 1rem;
            margin-bottom: 0;
        }
    }
    
    &__item {
        min-height: 8rem;
        width: calc(100% / 3 - 2rem);
        border: 1px solid #E5E5E5;
        border-radius: 1rem;
        margin: 0 1rem;
        margin-bottom: 2rem;
        padding: 1rem;

        @media(max-width: 1680px) {
            width: calc(100% / 2 - 20px);
        }

        @media(max-width: 1400px) {
            width: 100%;
        }

        @media(max-width: 1240px) {
            width: calc(100% / 3 - 2rem);
        }

        @media(max-width: 1024px) {
            width: calc(100% / 2 - 20px);
        }

        @media(max-width: 768px) {
            width: 100%;
        }

        &-name { 
            font-family: $font_sec-bold;
            font-weight: 700;
            font-size: 1.5rem;
            margin-bottom: 0.6rem;
            padding-right: 1rem;

            color: $color_blue;

            @media(max-width: 1400px) {
                font-size: 1.5rem;
            }
        }

        &-link {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 100%;
            height: 100%;
            padding-left: 5.5rem;

            span {
                font-family: $font_sec-reg;
                font-size: 1.2rem;
                line-height: 1.2rem;
                text-decoration-line: underline;
    
                color: $color_darkblue;
                transition: color $transition_rules;
            }
    
            svg {
                width: 4rem;
                height: 4rem;
                position: absolute;
                top: 50%;
                left: 0.5rem;
                object-fit: contain;
                transform: translateY(-50%);
            }

            &:hover,
            &:focus {
                span {
                    color: $color_blue;
                }
            }
        }
    }
}