-
  const gridItems = [
        {
            title: 'Смартфоны',
            banner: {
                name: 'phone1.png',
                width: "127",
                height: '197'
            },

            list: [
                {
                    title: 'Samsung',
                    url: '#'
                },
                {
                    title: 'Xiaomi',
                    url: '#'
                },
                {
                    title: 'OnePlus',
                    url: '#'
                },
                {
                    title: 'Apple',
                    url: '#'
                },
                {
                    title: 'Смотреть все',
                    url: '#'
                },
                {
                    title: 'Кнопочные телефоны',
                    url: '#'
                },
                {
                    title: 'Радиотелефоны',
                    url: '#'
                },
                {
                    title: 'Каталог смартфонов и телефонов',
                    url: '#'
                }
            ]
        },

        {
            title: 'Аксессуары для телефонов',
            banner: {
                name: 'phone2.png',
                width: "154",
                height: '243'
            },

            list: [
                {
                    title: 'Чехлы',
                    url: '#'
                },
                {
                    title: 'Защитные стекла',
                    url: '#'
                },
                {
                    title: 'Защитные пленки',
                    url: '#'
                },
                {
                    title: 'Кабели',
                    url: '#'
                },
                {
                    title: 'Зарядные устройства',
                    url: '#'
                },
                {
                    title: 'Внешние аккумуляторы',
                    url: '#'
                },
                {
                    title: 'Автомобильные держатели',
                    url: '#'
                },
                {
                    title: 'Попсокеты и кольца',
                    url: '#'
                },
                {
                    title: 'Держатели',
                    url: '#'
                },
                {
                    title: 'Карты памяти',
                    url: '#'
                },
                {
                    title: 'Полезные услуги',
                    url: '#'
                },
                {
                    title: 'Моноподы',
                    url: '#'
                },
                {
                    title: 'Автомобильные устройства',
                    url: '#'
                }
            ]
        },

        {
            title: 'Смартфоны',
            banner: {
                name: 'phone1.png',
                width: "127",
                height: '197'
            },
            list: [
                {
                    title: 'Samsung',
                    url: '#'
                },
                {
                    title: 'Xiaomi',
                    url: '#'
                },
                {
                    title: 'OnePlus',
                    url: '#'
                },
                {
                    title: 'Apple',
                    url: '#'
                },
                {
                    title: 'Смотреть все',
                    url: '#'
                },
                {
                    title: 'Кнопочные телефоны',
                    url: '#'
                },
                {
                    title: 'Радиотелефоны',
                    url: '#'
                },
                {
                    title: 'Каталог смартфонов и телефонов',
                    url: '#'
                }
            ]
        },

        {
            title: 'Смартфоны',
            banner: {
                name: 'phone1.png',
                width: "127",
                height: '197'
            },
            list: [
                {
                    title: 'Apple',
                    url: '#'
                },
                {
                    title: 'Смотреть все',
                    url: '#'
                },
                {
                    title: 'Кнопочные телефоны',
                    url: '#'
                },
                {
                    title: 'Радиотелефоны',
                    url: '#'
                },
                {
                    title: 'Каталог смартфонов и телефонов',
                    url: '#'
                }
            ]
        },

        {
            title: 'Аксессуары для телефонов',
            banner: {
                name: 'phone2.png',
                width: "154",
                height: '243'
            },

            list: [
                {
                    title: 'Чехлы',
                    url: '#'
                },
                {
                    title: 'Защитные стекла',
                    url: '#'
                },
                {
                    title: 'Защитные пленки',
                    url: '#'
                },
                {
                    title: 'Кабели',
                    url: '#'
                },
                {
                    title: 'Зарядные устройства',
                    url: '#'
                },
                {
                    title: 'Внешние аккумуляторы',
                    url: '#'
                },
                {
                    title: 'Автомобильные держатели',
                    url: '#'
                },
                
                {
                    title: 'Попсокеты и кольца',
                    url: '#'
                },
                {
                    title: 'Держатели',
                    url: '#'
                },
                {
                    title: 'Карты памяти',
                    url: '#'
                },
                {
                    title: 'Полезные услуги',
                    url: '#'
                },
                {
                    title: 'Моноподы',
                    url: '#'
                },
                {
                    title: 'Автомобильные устройства',
                    url: '#'
                },
                {
                    title: 'Попсокеты и кольца',
                    url: '#'
                },
                {
                    title: 'Держатели',
                    url: '#'
                },
                {
                    title: 'Карты памяти',
                    url: '#'
                },
                {
                    title: 'Полезные услуги',
                    url: '#'
                },
                {
                    title: 'Моноподы',
                    url: '#'
                },
                {
                    title: 'Автомобильные устройства',
                    url: '#'
                }
            ]
        },

        {
            title: 'Аксессуары для телефонов',
            banner: {
                name: 'phone2.png',
                width: "154",
                height: '243'
            },

            list: [
                {
                    title: 'Чехлы',
                    url: '#'
                },
                {
                    title: 'Защитные стекла',
                    url: '#'
                },
                {
                    title: 'Защитные пленки',
                    url: '#'
                },
                {
                    title: 'Кабели',
                    url: '#'
                },
                {
                    title: 'Зарядные устройства',
                    url: '#'
                },
                {
                    title: 'Внешние аккумуляторы',
                    url: '#'
                },
                {
                    title: 'Автомобильные держатели',
                    url: '#'
                },
                {
                    title: 'Попсокеты и кольца',
                    url: '#'
                },
                {
                    title: 'Держатели',
                    url: '#'
                },
                {
                    title: 'Карты памяти',
                    url: '#'
                },
                {
                    title: 'Полезные услуги',
                    url: '#'
                },
                {
                    title: 'Моноподы',
                    url: '#'
                },
                {
                    title: 'Автомобильные устройства',
                    url: '#'
                }
            ]
        },

        {
            title: 'Аксессуары для телефонов',
            banner: {
                name: 'phone2.png',
                width: "154",
                height: '243'
            },

            list: [
                {
                    title: 'Моноподы',
                    url: '#'
                },
                {
                    title: 'Автомобильные устройства',
                    url: '#'
                }
            ]
        },

        {
            title: 'Смартфоны',
            banner: {
                name: 'phone1.png',
                width: "127",
                height: '197'
            },

            list: [
                {
                    title: 'Samsung',
                    url: '#'
                },
                {
                    title: 'Xiaomi',
                    url: '#'
                },
                {
                    title: 'OnePlus',
                    url: '#'
                },
                {
                    title: 'Apple',
                    url: '#'
                },
                {
                    title: 'Смотреть все',
                    url: '#'
                },
            ]
        },
    ]

.cats
  .cats__grid
    .cats__grid-sizer
      each item in gridItems
        .cats__grid-item
          .cats__card
            .cats__card-content
              h2.cmn__title.cats__card-title=item.title

              ul.cats__card-list
                li.cats__card-item
                  each cat in item.list
                    a(href=cat.url)= cat.title
            .cats__card-banner        
              img.cats__card-banner(src="../assets/img/" + item.banner.name)

