-
  const items = [
      'Новинки', 'На андроиде', 'Защита от влаги', 'С большим экраном', 'С хорошей камерой', 'Флагманы', 'Недорогие', 'С большим экраном', 'С большим экраном', 'С большим экраном', 'С большим экраном',
      'С большим экраном', 'Новинки', 'На андроиде', 'Защита от влаги', 'С большим экраном', 'С хорошей камерой', 'Флагманы', 'Недорогие', 'Флагманы','Флагманы','Флагманы','Флагманы',
      'Флагманы','Флагманы','Флагманы','Флагманы','Еще 38'
  ]

.selection
  h2.cmn__subtitle Подборки

  ul.selection__list
    each item in items
      li.selection__item
        a(href="#")= item
          