- 
  const mans = [
      {
          id: "1",
          img: "./assets/img/samsung_logo.png",
          title: 'Samsung',
          width: 72,
          height: 11
      },

      {
          id: "2",
          img: "./assets/img/apple_logo.png",
          title: 'Apple',
          width: 43,
          height: 52
      },

      {
          id: "3",
          img: "./assets/img/samsung_logo.png",
          title: 'Samsung',
          width: 72,
          height: 11
      },

      {
          id: "4",
          img: "./assets/img/huawey_logo.png",
          title: 'Huawei',
          width: 52,
          height: 52
      },

      {
          id: "5",
          img: "./assets/img/samsung_logo.png",
          title: 'Samsung',
          width: 72,
          height: 11
      },

      {
          id: "6",
          img: "./assets/img/oneplus_logo.png",
          title: 'Oneplus',
          width: 72,
          height: 20
      },

      {
          id: "7",
          img: "./assets/img/samsung_logo.png",
          title: 'Samsung',
          width: 72,
          height: 11
      },

      {
          id: "8",
          img: "./assets/img/apple_logo.png",
          title: 'Apple',
          width: 43,
          height: 52
      },

      {
          id: "9",
          img: "./assets/img/huawey_logo.png",
          title: 'Huawei',
          width: 52,
          height: 52
      },

      {
          id: "10",
          img: "./assets/img/oneplus_logo.png",
          title: 'Oneplus',
          width: 72,
          height: 20
      },

      {
          id: "11",
          img: "./assets/img/apple_logo.png",
          title: 'Apple',
          width: 43,
          height: 52
      },

      {
          id: "12",
          img: "./assets/img/oneplus_logo.png",
          title: 'Oneplus',
          width: 72,
          height: 20
      },

      {
          id: "13",
          img: "./assets/img/huawey_logo.png",
          title: 'Huawei',
          width: 52,
          height: 52
      },

      {
          id: "14",
          img: "./assets/img/mi_logo.png",
          title: 'Xiaomi',
          width: 45,
          height: 45
      },
      {
          id: "15",
          img: "./assets/img/mi_logo.png",
          title: 'Xiaomi',
          width: 45,
          height: 45
      },
      {
          id: "16",
          img: "./assets/img/mi_logo.png",
          title: 'Xiaomi',
          width: 45,
          height: 45
      },
      {
          id: "17",
          img: "./assets/img/mi_logo.png",
          title: 'Xiaomi',
          width: 45,
          height: 45
      },
      {
          id: "18",
          img: "./assets/img/mi_logo.png",
          title: 'Xiaomi',
          width: 45,
          height: 45
      },
      {
          id: "19",
          img: "./assets/img/mi_logo.png",
          title: 'Xiaomi',
          width: 45,
          height: 45
      },
      {
          id: "20",
          img: "./assets/img/mi_logo.png",
          title: 'Xiaomi',
          width: 45,
          height: 45
      },
      {
          id: "21",
          img: "./assets/img/mi_logo.png",
          title: 'Xiaomi',
          width: 45,
          height: 45
      },
      {
          id: "22",
          img: "./assets/img/mi_logo.png",
          title: 'Xiaomi',
          width: 45,
          height: 45
      },
      {
          id: "23",
          img: "./assets/img/mi_logo.png",
          title: 'Xiaomi',
          width: 45,
          height: 45
      },
      
  ]

.manufacturer
  ul.manufacturer__list
    each man in mans
      li.manufacturer__item
        a(href="#")
          img(src=man.img, alt="man.title" width=man.width height=man.height)
          span= man.title