include ./category-results-components/product_card

-
  const items = [
    {
      isDiscount: false,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: true,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',
      

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: false,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: true,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',
      

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: false,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: true,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',
      

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: false,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: false,
      discountValue: '-10%',
      isAvailable: false,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: true,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },
    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      price: 'Цена 25 990 ₽',
      isSale: false,
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',


      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

    {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

        {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },

        {
      isDiscount: true,
      discountValue: '-10%',
      isAvailable: true,
      name: 'Xiaomi Mi 10T 8 128Gb RU Black',
      isSale: false,
      price: 'Цена 25 990 ₽',
      oldPrice: '26790 ₽',
      prof: '-&nbsp;800',

      imgList: [
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img.png',
        },
        {
          name: 'наушники IPhone',
          url: './assets/img/result-card_img-2.png',
        },
      ]
    },
  ]

.results
  // include ./results-components/manufactures-block

  .results__wrapper
    ul.results__list
      li.results__card.results__card--banner
        .results-banner
          .results-banner__content
            b Доставка в&nbsp;день&nbsp;заказа 
            p Доставка по Москве осуществляется в день в день при заказе до 17:00»
            <span>249₽</span>

          img(src="./assets/img/catalog_banner.svg" alt="доставка" width="297" height="198")

      each item in items
        li.results__card
          +product_card(item.isDiscount, item.discountValue, item.isAvailable, item.name, item.price, item.isSale, item.oldPrice, item.prof, item.imgList)

