.sort-block {
    padding: 1.3rem 1.6rem;
    border-radius: 12px;
    background-color: $color_white;
    margin-bottom: 1.6rem;

    &-list {
        display: flex;
        flex-wrap: wrap;
    }

    &-item {
        height: 3rem;
        
        margin-right: 0.4rem;
        margin-bottom: 0.4rem;

        @media(max-width: $tablet_xs_width) {
            &:nth-child(1n + 4):not(:last-child) {
                display: none;
            }
        }
    }

    select, button {
        width: fit-content;
        height: inherit;
        background-color: #E5E5E5;
        border: 0;
        border-radius: 0.4rem;
        font-family: $font_sec-reg;
        font-size: 1.4rem;
        line-height: 1.6rem;
        text-align: center;

        font-family: $font_sec-reg;
        color: $color_blue;

        cursor: pointer;
    }

    select {
        height: 3rem;
        padding: 0 1rem;
        padding-right: 3rem;
        appearance: none;
        transition: all $transition_rules;
    }

    .select {
        position: relative;
    }

    .select:after {
        content: "";
        display: block;
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: 1rem;
        width: 12px;
        height: 6px;
        z-index: 100;
        transform: translateY(-50%);

        background: url("../assets/img/select-arr-gray.svg") no-repeat;
        background-size: cover;
    }

    .select:hover::after,
    .select:focus::after {
        background: url("../assets/img/select-arr.svg") no-repeat;
        background-size: cover;
    }

    select:hover,
    select:focus {
        background-color: #175CFF;
        color: $color_white;
    }
}