.selection {
    padding: 2.5rem 2.8rem;
    background-color: $color_white;
    border-radius: 12px;
    margin-bottom: 2.4rem;

    &__list {
        display: flex;
        flex-wrap: wrap;
        padding-right: 4rem;
    }

    &__item {
        display: flex;
        
        justify-content: center;
        align-items: center;
        padding: 6px 8px;
        width: fit-content;
        margin-right: 8px;
        margin-bottom: 8px;

        background: #e5e5e5;
        border-radius: 4px;

        a {
            font-family: $font_sec-reg;
            font-size: 1.4rem;
            line-height: 1.6rem;
            text-align: center;

            color: $color_blue;
        }
    }
}