.filter {
    display: flex;
    flex-direction: column;

    &__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 38.7rem;
        min-width: 28.2rem;
        margin: 0 !important;
        margin-right: 2.3rem !important;
        padding: 2.4rem 2.9rem 3.2rem 2.4rem !important;
        height: fit-content;
    
        background: $color_white !important;
        border: 0 !important;
        border-radius: 1.2rem !important;
    
        @media(max-width: $desktop_lg_width) {
            width: initial;
            max-width: initial;
    
            flex-grow: 1;
        }

        @media(max-width: $tablet_lg_width) {
            margin-right: 0 !important;
        }
    }

    &__name {
        display: block;
        position: relative;
        font-family: $font_sec-bold;
        font-size: 1.6rem;
        line-height: 1.2;
        margin-bottom: 1.2rem;
        width: 100%;
        padding-right: 2rem;
        cursor: pointer;

        color: $color_darkblue;

        &--expanded {
            &::after {
                position: absolute;
                top: 50%;
                right: 0;
                
                transform: translateY(-50%);
                content: '';
    
                width: 15px;
                height: 8px;
    
                background-image: url("../assets/img/filter-arr.svg");
                background-repeat: no-repeat;
            }

            &.opened {
                &::after {
                    animation: rotateArrow 0.5s forwards;
                }
            }

            @keyframes rotateArrow {
                0% {
                    transform: translateY(-50%) rotate(0);
                }

                100% {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
       

        &.js-filter-content {
            display: none;
            opacity: 0;
        }

        &.js-opened {
            display: flex;

            animation: showContent 0.3s ease forwards;


        }

        @keyframes showContent {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    &__btn {
        width: fit-content;
        max-width: 100%;
        padding: 0;
        border: 0;
        background-color: transparent;
        font-size: 1.4rem;
        line-height: 2.7rem;
        border-bottom: 1px dashed $color_lightblue;

        color: $color_lightblue;

        &.hidden {
            display: none;
        }
    }

    &__item {
        display: flex;
        position: relative;
        padding: 0 2.5rem;
        margin-bottom: 1rem;
        min-height: 1.8rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &-color {
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 50%;
            margin-right: 0.9rem;
        }

        span {
            font-size: 1.4rem;
            line-height: 2.7rem;
            width: 7.8rem;
            text-align: right;

            color: rgba(22, 53, 96, 0.8);
        }

        &.hidden {
            display: none;
        }

        &--checkbox {   
            label {              
                cursor: pointer;
                display: block !important;
                font-size: 1.4rem !important;
                line-height: 1 !important;
                flex-grow: 1 !important;
                color: $color_lightblue !important;
                padding-left: 0 !important;
                margin: 0 !important;
                position: static !important;
                z-index: 1 !important;              

                &::before {
                    display: block !important;
                    position: absolute !important;
                    top: 0 !important;
                    left: 0 !important;
                    
                    content: '' !important;
                    width: 1.8rem !important;
                    height: 1.8rem !important;

                    border: 1px solid #7B797A !important;
                    border-radius: 4px !important;
                    background: transparent !important;
                }

                &::after {
                    display: none !important;
                }
            }

            input:checked + label::before {
                background-image: url("../assets/img/checkbox.svg") !important;
                background-repeat: no-repeat !important;
                background-position: center !important; 
                background-size: 12px !important;
                border-color: #175CFF !important;
            }      
        }

        &--link {
            padding-left: 0;

            a {
                font-size: 1.4rem;
                line-height: 2.7rem;
                flex-grow: 1;
                color: $color_lightblue;
            }
        }

        &--range {
            justify-content: space-between;
            padding-left: 0;

            input {
                border: 1px solid #E5E5E5;
                box-sizing: border-box;
                border-radius: 6px;
                padding: 1rem;
                width: calc(50% - 0.2rem);            
            }

            input,
            input::placeholder {
                font-size: 1.4rem;
                line-height: 1.4rem;

                color: $color_darkblue;
            }
        }
    }

    &__range {
        width: 100%;
    }
   
    &__header {
        display: none;
        padding: 0.5rem 0 1rem;

        @media(max-width: $tablet_lg_width) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                text-decoration: underline;
        
                font-family: $font_sec-reg;
                font-size: 2.4rem;
                line-height: 3.4rem;
        
                color: #175CFF;

                @media(max-width: $tablet_sm_width) {
                    font-size: 2rem;
                    line-height: 2.8rem;
                }
            }

            button {
                border: 0;
                padding: 0;
                background-color: transparent;

                svg {
                    fill: #175CFF;
                }
            }
        }
    }

    @media(max-width: $tablet_lg_width) {
        display: none;

        &.opened {
            display: flex;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000;
            border-radius: 0;
            padding: 1.5rem;
            background: #F6F9FC;

            @media(max-width: $tablet_sm_width) {
                margin-top: 12rem;
                width: 100%;
                padding-bottom: 9rem;
            }
        }
    }
}

.filter-overlay {
    flex-grow: 1;
    @media(max-width: $tablet_lg_width) {
        &.opened {
            width: 100vw;
            background: rgba(5, 29, 87, 0.61);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            overflow: scroll;
        }
    }
}