.results {
    width: 121rem;
    min-width: 121rem;
    margin-left: auto;

    @media(max-width: $desktop_lg_width) {
        width: 93.7rem;
        min-width: 93.7rem;
    }

    @media(max-width: $desktop_sm_width) {
        width: 62.5rem;
        min-width: 62.5rem;
    }

    @media(max-width: $tablet_lg_width) {
        width: 100%;
    }

    @media(max-width: $tablet_width) {
        min-width: 30rem;
    }

    &__wrapper {
        position: relative;
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        background: $color_white;
        border-radius: 1.2rem;
        padding: 2.4rem 1.1rem 17.6rem;

        @media(max-width: $desktop_lg_width) {
            padding: 2.3rem;
        }

        @media(max-width: $desktop_sm_width) {
            padding: 1.5rem;
        }

        @media(max-width: $desktop_sm_width) {
            padding: 1rem;
        }

        @media(max-width: $tablet_width) {
            justify-content: center;
        }
    }

    &__card {
        width: 29.7rem;
        height: 44.4rem;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;

        &:nth-child(7) {
            margin-right: 29.7rem;

            @media(max-width: $desktop_lg_width) {
                margin-right: 0;
            }
        }

        @media(max-width: $desktop_lg_width) {
            &:nth-child(5) {
                margin-right: 29.7rem;

                @media(max-width: $desktop_sm_width) {
                    margin-right: 0;
                }
            }
        }

        @media(max-width: $desktop_sm_width) {
            &:nth-child(3) {
                margin-right: 29.7rem;

                @media(max-width: $tablet_lg_width) {
                    margin-right: 0;
                }
            }
        }
                
        @media(max-width: $tablet_lg_width) {
            &:nth-child(5) {
                margin-right: 29.7rem;

                @media(max-width: $tablet_width) {
                    margin-right: 0;
                }
            }
        }

        @media(max-width: 644px) {
            &:last-child {
                margin-bottom: 44.4rem;
            }
        }

        &:hover,
        &:focus {
            box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.07);
            border: 1px solid #175CFF;
            padding-bottom: 1.6rem;

            .product-card__footer {
                position: relative;

                &-chars {
                    position: absolute;
                    top: 100%;
                    left: -1px;
                    padding: 1.2rem 1.7rem 1.6rem;
                    opacity: 1;
                    z-index: 100;
                    border: 1px solid #175CFF;
                    border-top: 0;
                }
            }
        }
    }
}

.results-banner {
    position: absolute;
    top: 46.8rem;
    right: 1.1rem;
    background-color: #F6F9FC;

    display: flex;
    flex-direction: column;

    width: 29.7rem;
    height: 44.4rem;
    border: 1px solid #E5E5E5;

    @media(max-width: $desktop_lg_width) {
        top: 46.7rem;
        right: 2.3rem;
    }

    @media(max-width: $desktop_sm_width) {
        top: 45.4rem;
        right: 2.1rem;
    }

    @media(max-width: $tablet_lg_width) {
        right: initial;
        left: 60.4rem;
    }

    @media(max-width: $tablet_width) {
        display: none;
    }

    @media(max-width: 644px) {
        display: flex;
        top: calc(100% - 46.4rem);
        left: 50%;
        transform: translateX(-50%);
    }  

    &__content {
        padding: 4.3rem 1.7rem;
        padding-bottom: 0;

        b,span {
            font-family: $font_sec-bold;
            font-size: 3.6rem;
            line-height: 3.6rem;
            margin-bottom: 0.6rem;

            color: #175CFF;
        }

        span {
            margin-bottom: 4.3rem;
        }

        p {
            font-family: $font_inter_reg;
            font-size: 1.4rem;
            line-height: 2rem;
            margin-bottom: 0.6rem;

            color: #97A2AC;
        }
    }

    img {
        margin-top: auto;
    }
}